.post .post_author div.author_avatar img {
	width:100px;
	height:100px;
	border-radius: 50%;
 	transition:all 0.3s ease;
	background:green;
}
.post .post_author div.author_avatar img:hover {
	border-radius: 0%;
	transition:all 0.3s ease;
	background:green;
}