body {
	background: #fff url(../../../images/focus/pattern.png) repeat scroll left top;
	color: white;
	text-align: center;
	line-height: 1.4;
	margin: 0;
	overflow-y: scroll;

	font-family: tahoma,sans-serif,arial;
	font-size: 13px;
}

#ucp-menu{
		width:20%;
}

#ucp-tab{
		width:80%;
}

#p-send{
		width:80%;
}

#ucp-inbox{
		width:80%;
}

hr#phr {
background-color:#f7c224;
	height: 3px;
	margin-top:0px;
	margin-bottom:0%;
}

@media  (max-width: 768px) {
    body {
        background-color: white;
}

td.thead{
		font-size:14px;
}

#ucp-menu{
		width:30%;
}

#ucp-tab{
		width:70%;
}

#p-send{
		width:70%;
}

#ucp-inbox{
		width:70%;
}

.xs-tab  tr{
/*new thread, td in block*/
		display: table;  
		width:100%;
		padding:8px;
}

.xs-tab  td{
		display: table-row;
		padding:5px;
}

.ucp-edt-xs{
		display:block;
		width:auto;
}

.ucp-opt-xs{
		display:block;
		width:auto;
}

div #content{
		padding: 10px 0px;
}

#tname{
 /* index forum tcat*/
		width:50%;
}

#tlast{
		width:50%;
}

#tthread{
		display:none;
		width:0;
		height:0;
}

#tpost{
		display:none;
		width:0;
		height:0;
}

#dname{
 /* index forum display*/
		overflow: hidden;
  		text-overflow: ellipsis;
		white-space: normal;
		width:30%;
}

#dlast{
		overflow: hidden;
		max-width: 0;
		white-space: nowrap;
  		text-overflow: ellipsis;
		display:table-cell;
		width:70%;
}

#dthread{
		display:none;
		width:0;
		height:0;
}

#dpost{
		display:none;
		width:0;
		height:0;
}


}


}

.navbar-default .navbar-toggle .iconbar{
/*background-color:white;*/
}

.container{
}

.checkbox {
	display:inline;
}

@media (max-width: 1200px){
	.container {
    width: 1170px;
}


}

@media (max-width: 992px){
	.container {
    	width: 970px;
}


}

@media (max-width: 768px){
	.container {
    	width: 100%;
}


}

a:link {
	transition: all 0.25s ease !important;
	color: #0D5F7A;
	text-decoration: none;
}

a:visited {
	color: #0D5F7A;
	text-decoration: none;
}

a:hover,
a:active {
     text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #666A73 url(../../../images/focus/pattern.png) repeat scroll left top;
    color:#DDD;
    z-index: 10000;
    height: 150px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:150px;
}

.navbar {
	background: #00bcd4 url(../../../images/focus/pattern.png) repeat scroll left top;
	color: white;
	/*background-color: transparent;*/
	
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
    /*color: white;*/
}

#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header ul.menu li {
	margin: 0 7px;
	display: inline;
}

#header ul.menu li a {
	color: white;
	padding-left: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 16px;
}

#logo ul.top_links {
	font-weight: bold;
	text-align: right;
	margin: -10px 5px 0 0;
}

#logo ul.top_links a.search {
	background-position: 0 0;
}

#logo ul.top_links a.memberlist {
	background-position: 0 -20px;
}

#logo ul.top_links a.calendar {
	background-position: 0 -40px;
}

#logo ul.top_links a.help {
	background-position: 0 -60px;
}

#logo ul.top_links a.portal {
	background-position: 0 -180px;
}

#logo ul.top_links a.cn{
	background-position: 0 100px;
}

#logo ul.top_links a.en{
	background-position: 0 100px;
}

.header.shrink {
    height: 60px;
    line-height:30px;
    border-bottom: 3px solid #32a8b5;
}

.logo {
    float: left;
    font-family: "Lobster",cursive;
    font-size: 40px;
    text-shadow: 1px 1px 3px #111;
}

.logo a, .logo a:link, .logo a:visited {
	color: #FFF;
}

.logo a, .logo a:link, .logo a:visited {
	color: #FFF;
	text-decoration: none;
}

.header.shrink .logo {
    font-size: 20px;
    padding-top: 15px;
}

.header img {
	height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.header.shrink img {
	width: 100px;
	height: auto;
    padding-top: 15px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.tophead {
    padding: 15px 0;
}

.tophead a:link, .tophead a:visited, .tophead a:active {
    color: #fff;
    font-family: "lobster",cursive;
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0 1px 0 #333;
}

.tophead a:hover {
    color: #aaa;
}

.welcome {
	color: #FFFFE0;
	font-family: 'lobster',cursive;
	font-size: 16px;
}

.welcome a:link, .welcome a:visited {
    font-size: 15px;
    padding: 5px;
    text-shadow: 1px 1px 3px #111;
}

.welcome a:hover {
    color: #32a8b5;
}

#panel .lower ul.panel_links {
	float: left;
}

#panel .lower ul.user_links {
	float: right;
}

#panel .upper {
	background: #b7d891 url(../../../images/focus/pattern.png) repeat scroll left top;
	color: #FFFFF0;
	padding: 6px;
	line-height: 25px;
	text-align: left;
	
	font-size: 14px;
}

#panel .lower {
    background:#90EE90 url(../../../images/focus/pattern.png) repeat scroll left top;
    color: #777;
    padding: 4px;
    line-height: 25px;
    text-align: left;
}

.pmbg {
    background: #f1654c none repeat scroll 0 0;
    border-radius: 0;
    display: inline;
    font-family: tahoma, sans-serif, arial;
    font-size: 10px;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
}

#m_menu {
	background: url(../../../images/focus/pattern.png) repeat scroll left top #2F3540;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.24);
	color: #fff;
	clear: both;
	padding: 1px;
}

#container {
	width: 100%;
	color: #333;
	text-align: left;
	line-height: 1.4;
	margin: 0px;
	padding-top: 52px;
	
	font-family: tahoma, sans-serif, arial;
	font-size: 13px;
}

.wrapper {
    font-family: tahoma,sans-serif,arial;
	width: 86%;
	/*min-width: 970px;
	max-width: 1500px;*/
	margin: auto auto;
}

@media screen and (max-width: 768px) {
	.wrapper{
		width:98%;
	}
}

#content {
	background: #fcfcfc url(../../../images/focus/pattern.png) repeat scroll left top;
	width: 100%;
	padding: 15px 10px;
	overflow: hidden;
}

.sidebar {
    float: right;
    width: 25%;
}

.forum {
    float: left;
    width: 74%;
}

.searchhere input.textbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid grey;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #555555;
    float: right;
    font-size: 11px;
    margin-top: -22px;
    padding: 6px;
    width: 150px;
}

.searchhere input.textbox:hover {
    box-shadow: none;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    font-family: "lobster",cursive;
    font-size: 14px;
    text-shadow: 1px 2px 3px #111;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
}

ul#menu li a:hover {
    border-bottom: 4px solid #32a8b5;
}

#footer {
	clear: both;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul.menu li {
	margin: 0 5px;
	display: inline;
}

#footer .upper {
	background: #222 url(../../../images/focus/pattern.png) repeat scroll left top;
	padding: 6px;
	font-size: 12px;
	overflow: hidden;
}

#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
	color: #ccc;
}

#footer .upper .language {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .language select {
	border-color: #ccc;
}

#footer .upper .theme {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .theme select {
	border-color: #ccc;
}

#footer .upper ul.bottom_links {
	float: left;
	margin: 4px 0 0 0;
}

#footer .lower {
    background: #2f3540 url(../../../images/focus/pattern.png) repeat scroll left top;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    padding:8px;
}

#footer .lower a:link,
#footer .lower a:visited {
	color: #EEE;
}

#footer .lower a:hover,
#footer .lower a:active {
	color: #CCC;
}

#footer .lower #current_share{
    color: #888;
    float: right;
    font-size: 18px;
    padding: 10px;
}

#footer2 {
        width: 89%;
        margin: auto;
}

.footerFloat {
	width: 25%;
	float: left;
}

.footerFloat li {
    overflow: hidden;
    text-align: left;
}

.footerFloat li a {
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #111;
}

#wrapper2 {
    background: #666a73 url(../../../images/focus/pattern.png) repeat scroll left top;
    border-top: 4px solid #32a8b5;
    color: #ccc;
    font-family: tahoma,sans-serif,arial;
    overflow: hidden;
    width: 100%;
}

.fb {
	font-size: 14px;
	width: 25px;
	text-align: center;
	display: inline-block;
}

.google {
	font-size: 14px;
	width: 26px;
	text-align: center;
	display: inline-block;
}

.twitter {
	font-size: 14px;
	width: 26px;
	text-align: center;
	display: inline-block;
}

.rss {
	font-size: 14px;
	width: 26px;
	text-align: center;
	display: inline-block;
}

.fb:hover {
 color: #3b5998;
}

.google:hover {
 color: #dd4b39;
}

.twitter:hover {
 color: #00aced;
}

.rss:hover {
 color: #ff6600;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 20px;
	font-size: 11px;
}

.scaleimages img {
	max-width: 100%;
}

.forum_status {
	height: 35px;
	width: 35px;
	font-size: 30px;
	text-align: center;
}

.forum_status i {
	display: inline-block;
	line-height: 35px;
}

.forum_on {
	color:#11adc1cf;
	%color: #9400D3;
}

.forum_off, .forum_offlock, .forum_offlink {
	color:#11adc1cf;
	%color: #9400D3;
	%color: #333;
}

.forum_off i {
	opacity: .6;
}

.forum_offlock i:before {
	content: "\f023";
}

.forum_offlink i:before {
	content: "\f0c1";
}

.subforumicon {
height: 10px;
width: 10px;
display: inline-block;
margin: 0 5px;
}

.subforum_minion {
color: #333;
}

.subforum_minioff, .subforum_miniofflock, .subforum_miniofflink {
color: #333;
}

.subforum_minioff {
opacity: .4;
}

.subforum_miniofflock i:before {
content: "\f023";
}

.subforum_miniofflink i:before {
content: "\f0c1";
}

table {
	color: #333;
	font-size: 13px;
}

table {
	color: #777;
	font-size: 13px;
	font-family: tahoma,sans-serif,arial;
}

.tborder {
	background: none;
	width: 100%;
	border: 1px solid #ccc;
	margin: auto auto;
}

.tfixed {
	table-layout: fixed;
	word-wrap: break-word;
}

.thead {
	background: #06aabf url(../../../images/focus/pattern.png) repeat scroll left top;
	color: #fff;
	padding: 10px;
	text-shadow: 1px 2px 3px #111;
	
	font-family: "Lobster";
	font-size: 16px;
	font-weight: 100;
}

.thead a:link {
	color: #ffffff;
	text-decoration: none;
}

.thead a:visited {
	color: #ffffff;
	text-decoration: none;
}

.thead a:hover,
.thead a:active {
	color: #ffffff;
	text-decoration: underline;
}

.tcat {
background: #ddd none repeat scroll 0 0; 
	font-size: 12px;
	color: #777;
}

.tcat a:link {
  color: #777;
}

.tcat a:visited {
 color: #777;
}

.tcat a:hover,
.tcat a:active {
 color: #9e906e;
}

.trow1 {
	background: linear-gradient(to bottom, rgba(252,252,252,0.5) 0%,rgba(239,239,239,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 );
}

.trow2 {
	background: linear-gradient(to bottom, rgba(252,252,252,0.5) 0%,rgba(239,239,239,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 );
}

.trow_shaded {
	background: #ffdde0;
}

.no_bottom_border {
	border-bottom: 0;
}

.columns {
list-style: none;
margin: 0;
padding: 0;
}

.columns li {
width: 50%;
float: left;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}

.post.classic.unapproved_post .post_author {
	border-color: #ffb8be;
}

.post.unapproved_post .post_controls {
	border-top-color: #ffb8be;
}

.trow_deleted,
.post.deleted_post {
	background: #E8DEFF;
}

.trow_selected,
tr.trow_selected td {
	background: #FFFBD9;
	color: #333;
	border-right-color: #F7E86A;
	border-bottom-color: #F7E86A;
}

.trow_selected a:link,
.trow_selected a:visited,
.trow_selected a:hover,
.trow_selected a:active {
	color: #333;
}

.trow_sep {
	background: #ddd;
	color: #333;
	border-bottom: 1px solid #c5c5c5;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	border-top: 1px solid #fff;
	padding: 6px;
	background: #ddd;
	color: #666;
}

.tfoot a:link {
	color: #444;
	text-decoration: none;
}

.tfoot a:visited {
	color: #444;
	text-decoration: none;
}

.tfoot a:hover,
.tfoot a:active {
	color: #444;
	text-decoration: underline;
}

.thead input.textbox,
.thead select {
	border: 1px solid #263c30;
}

.bottommenu {
	background: #efefef;
	color: #333;
	border: 1px solid #4874a3;
	padding: 10px;
}

.navigation {
	background: #8bc34a url(../../../images/focus/pattern.png) repeat scroll left top;
	color: #fff;
	border-radius: 20px;
	margin-bottom: 1px;
	#text-shadow: 1px 1px 3px #111;
	padding: 13px;
	
	font-family: "Lobster";
	font-size: 15px;
	font-weight: 100;
	overflow:hidden;
}

.nav_col {
 color: #fff !important;
}

.navigation a:link {
    color: #fff !important;
    text-decoration: none;
}

.navigation a:visited {
	color: #31708f;
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
    color: #ddd !important;
    text-decoration: none;
}

.navigation .active {
    color: #fff;
    font-size: 15px;
}

h4 {
    color: #FFF;
    font-family: "Lobster",cursive;
    font-size: 15px;
    text-align: left;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

fieldset {
	padding: 12px;
	border: 1px solid #ddd;
	margin: 0;
}

fieldset.trow1,
fieldset.trow2 {
	border-color: #bbb;
}

fieldset.align_right {
	text-align: right;
}

input.textbox {
	background: #ffffff;
	color: #333;
	border: 1px solid #ccc;
	padding: 3px;
	outline: 0;
	font-size: 13px;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
}

textarea {
	background: #ffffff;
	color: #333;
	border: 1px solid #ccc;
	padding: 2px;
	line-height: 1.4;
	outline: 0;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

select {
	background: #ffffff;
	padding: 3px;
	border: 1px solid #ccc;
	outline: 0;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

button,
input.button {
	padding: 3px 8px;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
	background: #eee url(../../../images/buttons_bg.png) repeat-x;
	border: 1px solid #bbb;
	color: #333;
	outline: 0;
}

button:hover,
input.button:hover {
	border-color: #aaa;
}

form {
	margin: 0;
	padding: 0;
}

input.error, textarea.error, select.error {
	border: 1px solid #f30;
	color: #f30;
}

input.valid, textarea.valid, select.valid {
	border: 1px solid #0c0;
}

label.error {
	color: #f30;
	margin: 5px;
	padding: 0px;
	display: block;
	font-weight: bold;
	font-size: 11px;
}

form #message {
    width: 500px;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #ccc;
}

.post .editor_control_bar {
	background: #f5f5f5;
}

.popup_menu {
	background: #fff;
	border: 1px solid #ccc;
}

.popup_menu .popup_item {
	background: #efefef;
	color: #333;
}

.popup_menu .popup_item:hover {
	background: #0072BC;
	color: #fff;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

img {
	border: none;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

.clear {
	clear: both;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background: #FFFBD9;
	border-bottom: 1px solid #F7E86A;
	color: #333;
	text-align: center;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

.tcat_menu > .expcolimage {
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: #fff;
	padding: 10px;
	font-size:14px;
	color: #959595;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

/*blockquote collpase start*/
.collapsed {
    margin: 0;
    opacity: 0.7;
    padding: 10px;
    overflow: hidden;
    max-height: 150px;
    position: relative;
    background: #FAFAFA; 
    text-align: justify;
    padding-bottom: 25px;
}

.collapsed:after {
    left: 1px;
    right: 1px;
    bottom: 0px;
    opacity: 0.9;
    height: 25px;
    color: #4A4A4A;
    font-size: 13px;
    cursor: pointer;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    background: #D3D3D3;
    content: 'Show More';
    border: 1px solid #A5A5A5;
    border-radius: 0px 0px 5px 5px; 
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
}

.collapsed:hover:after {
    opacity: 1;
    color: #1A1A1A;
    background: #838383;
}

/*blockquote collpase end*/

.smilie {
	vertical-align: middle;
}

.smilie_pointer {
	cursor: pointer;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
background: url(../../../images/focus/pattern.png) repeat scroll left top #C1ECA5;
border: 1px solid #B0C299;
text-align: center;
padding: 12px 20px;
margin-bottom: 15px;
margin-top: 5px;
font-size: 11px;
}

.red_alert {
background: url(../../../images/focus/pattern.png) repeat scroll left top #ff888c;
border: 1px solid #EC6064;
color: #fff;
text-align: center;
margin-top: 5px;
padding: 12px 20px;
margin-bottom: 15px;
font-size: 11px;
}

.red_alert a:link,
.red_alert a:visited,
.red_alert a:hover,
.red_alert  a:active {
	color: #A5161A;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: #333;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.png) no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination,
.tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current,
.pagination a {
	padding: 3px 6px;
	margin-bottom: 3px;
}

.pagination a {
	background: #f5f5f5;
	border: 1px solid #eee;
}

.pagination .pagination_current {
	background: none;
	color: #333;
	border: none;
	font-weight: bold;
}

.pagination a:hover {
	background: #32a8b5;
	color: #fff;
	text-decoration: none;
}

.pagination .go_page img {
	margin-bottom: -4px;
}

.drop_go_page {
	background: #f5f5f5;
	padding: 4px;
}

.pagination_breadcrumb {
	background-color: #efefef;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

.thread_legend,
.thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend,
.forum_legend dt,
.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 18px;
}

.forum_legend dt {
	margin-right: 2px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.ignored_post {
	border-top: 3px solid #333;
	padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}

.post {
	overflow: hidden;
}

.post.classic {
	padding-top: 0px; /*15px bad*/
}

.post .post_author {
	border-bottom: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background: #f5f5f5;
	padding: 5px;
	overflow: hidden;
}

.post.classic .post_author {
	border: 1px solid #ddd;
	float: left;
	width: 15%;
	margin: 0 1% 0px 0;
	border-left: 0;
	padding: 5px 1%;
}

.post .post_author .buddy_status {
	vertical-align: middle;
	margin-top: -4px;
}

.post .post_author div.author_avatar {
	float: left;
	margin-right: 3px;
}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
}

.post .post_author div.author_avatar img {
	/*padding: 5px;
	border: 1px solid #ddd;*/
	background: #fff;
}

.post .post_author div.author_information {
	float: left;
	padding: 6px 8px;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	float: right;
	font-size: 11px;
	padding: 3px 10px 3px 5px;
	color: #666;
	line-height: 1.3;
}

.post.classic .post_author div.author_statistics {
	border-top: 1px dotted #ccc;
	margin: 6px 0 0 0;
	padding: 6px 6px 3px 6px;
	float: none;
}

.post .post_head {
	font-size: 11px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 4px;
}

.post .post_head span.post_date {
	color: #666;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #666;
}

.post_body {
	padding: 12px 0;
}

.post.classic .post_content {
	float: left;
	width: 83%;
	padding: 0 1% 0px 1%;
	color:black;
	font-size:11pt;
}

.post_content {
	padding: 9px 10px 5px 10px;
}

.post_content .signature {
	margin-top: 5px;
	border-top: 2px dotted #31708f;
	padding: 10px 0 4px 0;
	/*position:absolute;*/
	bottom:30px;
	font-style: italic;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999;
}

.post .post_meta a:link,
.post .post_meta a:visited {
	color: #777;
}

.post .post_meta a:hover,
.post .post_meta a:active {
	color: #777;
}

.post_controls {
	clear: both;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	overflow: hidden;
	/*margin-bottom:1%;*/
}

.postbit_buttons > a:link,
.postbit_buttons > a:hover,
.postbit_buttons > a:visited,
.postbit_buttons > a:active {
	display: inline-block;
	padding: 2px 5px;
	margin: 2px;
	font-size: 11px;
	background: #eee url(../../../images/buttons_bg.png) repeat-x;
	border: 1px solid #ccc;
	color: #555;
}

.postbit_buttons > a:hover {
	border-color: #bbb;
}

.postbit_buttons a span {
	padding-left: 20px;
	display: inline-block;
	height: 16px;
	background-image: url(../../../images/buttons_sprite.png);
	background-repeat: no-repeat;
}

.postbit_buttons a.postbit_find span {
	background-position: 0 0;
}

.postbit_buttons a.postbit_reputation_add span {
	background-position: 0 -20px;
}

.postbit_buttons a.postbit_email span {
	background-position: 0 -40px;
}

.postbit_buttons a.postbit_website span {
	background-position: 0 -60px;
}

.postbit_buttons a.postbit_pm span {
	background-position: 0 -80px;
}

.postbit_buttons a.postbit_quote span {
	background-position: 0 -100px;
}

.postbit_buttons a.postbit_multiquote span {
	background-position: 0 -120px;
}

.postbit_buttons a.postbit_multiquote_on span {
	background-position: 0 -140px;
}

.postbit_buttons a.postbit_edit span {
	background-position: 0 -160px;
}

.postbit_buttons a.postbit_qdelete span {
	background-position: 0 -180px;
}

.postbit_buttons a.postbit_qrestore span {
	background-position: 0 -200px;
}

.postbit_buttons a.postbit_report span {
	background-position: 0 -220px;
}

.postbit_buttons a.postbit_warn span {
	background-position: 0 -240px;
}

.postbit_buttons a.postbit_purgespammer span {
	background-position: 0 -540px;
}

.postbit_buttons a.postbit_reply_pm span {
	background-position: 0 -260px;
}

.postbit_buttons a.postbit_reply_all span {
	background-position: 0 -280px;
}

.postbit_buttons a.postbit_forward_pm span {
	background-position: 0 -300px;
}

.postbit_buttons a.postbit_delete_pm span {
	background-position: 0 -320px;
}

a.button:link,
a.button:visited,
a.button:active {
    background: #32a8b5 url(../../../images/focus/pattern.png) repeat scroll left top;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px 6px;
    padding: 6px 11px;
}

a.button:hover {
 
   background: #4ebdd3 url(../../../images/focus/pattern.png) repeat scroll left top;
}

a.button.small_button {
	font-size: 13px;
	margin: 0;
	padding: 3px 6px;
}

a.button span {
	padding-left: 20px;
	display: inline-block;
	background-image: url(../../../images/buttons_sprite.png);
	background-repeat: no-repeat;
}

a.button.new_thread_button span {
	background-position: 0 -340px;
}

a.button.new_reply_button span {
	background-position: 0 -360px;
}

a.button.closed_button span {
	background-position: 0 -380px;
}

a.button.rate_user_button span {
	background-position: 0 -400px;
}

a.button.add_buddy_button span {
	background-position: 0 -440px;
}

a.button.remove_buddy_button span {
	background-position: 0 -480px;
}

a.button.add_ignore_button span {
	background-position: 0 -460px;
}

a.button.remove_ignore_button span {
	background-position: 0 -500px;
}

a.button.report_user_button span {
	background-position: 0 -520px;
}

.quick_jump {
	background: url(../../../images/jump.png) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	margin-top: -3px;
	border: none;
}

.pollbar {
	background: url(../../../images/pollbar.png) top left repeat-x;
	border: 1px solid #3f3f3f;
	height: 10px;
}

.pollbar .percent {
	display: none;
}

.posticons_label {
	white-space: nowrap;
}

/* DVZ Shoutbox */
#shoutbox { margin-bottom: 10px; border: solid 2px rgba(0,0,0,0.1); }
#shoutbox .head { padding: 8px; }
#shoutbox.front .head { cursor: pointer; }
#shoutbox .head .right { float: right; margin: 0; font-size: 13px; }
#shoutbox.collapsed .head { opacity: 0.6; }
#shoutbox.collapsed .body { display: none; }

#shoutbox .panel { border-top: solid 2px rgba(0,0,0,0.1); }
#shoutbox input.text { margin: 0; padding: 10px 8px; width: 100%; box-sizing: border-box; border: none; box-shadow: inset 0 2px 4px rgba(0,0,0,0.08); font-family: Arial, sans-serif; font-size: 12px; color: #000; }
#shoutbox .minposts, #shoutbox .blocked { padding: 6px; font-size: 11px; }
#shoutbox .panel.minposts { background: #FFFED8; color: #727250; }
#shoutbox .panel.blocked { background: #FCEFEF; color: #543A3A; }
#shoutbox .panel p { margin: 0; }

#shoutbox .window { border-top: solid 2px rgba(0,0,0,0.1); overflow-y: scroll; }
#shoutbox .data { display: table; width: 100%; border-top: solid 2px rgba(0,0,0,0.1); font-family: Arial, sans-serif; font-size: 12px; }
#shoutbox.front .data { border-top: none; }

#shoutbox .entry { display: table-row !important; width: 100%; transition: background-color 0.2s; }
#shoutbox .entry:nth-child(even) { background-color: rgba(0,0,0,0.01); }
#shoutbox .entry.new { background-color: rgba(255,255,100,0.1); }
#shoutbox .entry:target { background-color: rgba(50,200,255,0.1); }
#shoutbox .entry > div { border-bottom: dashed 1px rgba(0,0,0,0.05); }
#shoutbox .entry:last-child > div { border-bottom: none; }

#shoutbox .entry > div { display: table-cell; padding: 6px; }

#shoutbox .avatar img { margin: 0 auto; vertical-align: middle; max-height: 20px; max-width: 20px; border: solid 1px rgba(255,255,255,0.1); box-shadow: 0 0 2px rgba(0,0,0,0.1); cursor: pointer; }
#shoutbox .user { border-right: solid 1px rgba(0,0,0,0.05); text-align: right; white-space: nowrap; }
#shoutbox .text { width: 100%; color: #555; word-break: break-all; word-wrap: break-word; }
#shoutbox .info { font-size: 11px; color: #AAA; white-space: nowrap; text-align: right; }
#shoutbox .entry.unread .info:before { display: inline-block; position: relative; top: -2px; margin-right: 10px; height: 4px; width: 4px; content: ''; background: rgba(255,100,0,0.8); border-radius: 10px; }
#shoutbox .info a { color: inherit; }
#shoutbox .mod { padding: 6px 8px; font-size: 9px; font-weight: bold; color: #AAA; text-decoration: none; }
#shoutbox .mod:nth-of-type(2) { margin-right: 5px; border-left: solid 1px rgba(0,0,0,0.1); }
#shoutbox  .ip { margin-right: 10px; color: #CECECE; }

/** jGrowl Start **/

/** Special IE6 Style Positioning **/
.ie6 {
	position: absolute;
}

.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.top-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-right {
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.center {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 100%;
}

/** jGrowl Styling **/
.jGrowl {
	z-index: 999999;
	color: #ffffff;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: fixed;
}

.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}

.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/

.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

.jGrowl-notification {
	background-color: transparent;
	opacity: 0.9;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	word-break: break-all;
}

.jGrowl .jGrowl-notification {
	min-height: 40px;
}

.jGrowl-notification .ui-state-highlight,
.jGrowl-notification .ui-widget-content .ui-state-highlight,
.jGrowl-notification .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

.jGrowl-notification .jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

.jGrowl-notification .jGrowl-close {
	background-color: transparent;
	color: inherit;
	border: none;
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

.jGrowl-closer {
	background-color: #000000;
	opacity: 0.9;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	border-radius: 5px;
	word-break: break-all;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

.jGrowl-closer .ui-state-highlight,
.jGrowl-closer .ui-widget-content .ui-state-highlight,
.jGrowl-closer .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

.jGrowl .jGrowl-notification.jgrowl_success {
    background: lightgreen;
    border: 1px solid lightgreen;
    color: #333;
}

.jGrowl .jGrowl-notification.jgrowl_error {
    background: red;
    border: 1px solid red;
    color: #333;
}

.jGrowl .jGrowl-notification.jgrowl_process, .jGrowl .jGrowl-closer {
    background: yellow;
    border: 1px solid yellow;
	color: #333;
}

/** Hide jGrowl when printing **/
@media print {
	.jGrowl {
		display: none;
}


}

/** jGrowl End **/

/** Modal Start **/

.blocker {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.75);
	text-align: center;
}

.blocker:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.05em;
}

.blocker.behind {
	background-color: transparent;
}

.modal {
	background: #fff;
	width: 400px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
	background: url(../../../images/close.png) no-repeat 0 0;
	width: 30px;
	position: absolute;
	top: -1px;
	right: -1px;
	display: block;
	height: 30px;
	text-indent: -9999px;
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

/** Modal End **/

/** Impromptu Start **/

/*! jQuery-Impromptu - v6.2.3 - 2016-04-23
* http://trentrichardson.com/Impromptu
* Copyright (c) 2016 Trent Richardson; Licensed MIT */

.jqifade{
	position: absolute;
	background-color: #777777;
}

iframe.jqifade{
	display:block;
	z-index:-1;
}

div.jqi{
	width: 400px;
	max-width:90%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #ffffff;
	font-size: 11px;
	text-align: left;
	border: solid 1px #eeeeee;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 7px;
}

div.jqi .jqicontainer{
}

div.jqi .jqiclose{
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: default;
	color: #bbbbbb;
	font-weight: bold;
}

div.jqi .jqistate{
	background-color: #fff;
}

div.jqi .jqititle{
	padding: 5px 10px;
	font-size: 16px;
	line-height: 20px;
	border-bottom: solid 1px #eeeeee;
}

div.jqi .jqimessage{
	padding: 10px;
	line-height: 20px;
	color: #444444;
	overflow: auto;
}

div.jqi .jqibuttonshide{
	display: none;
}

div.jqi .jqibuttons{
	text-align: right;
	margin: 0 -7px -7px -7px;
	border-top: solid 1px #e4e4e4;
	background-color: #f4f4f4;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqibuttons button{
	margin: 0;
	padding: 15px 20px;
	background-color: transparent;
	font-weight: normal;
	border: none;
	border-left: solid 1px #e4e4e4;
	color: #777;
	font-weight: bold;
	font-size: 12px;
}

div.jqi .jqibuttons button.jqidefaultbutton{
	color: #489afe;
}

div.jqi .jqibuttons button:hover,
div.jqi .jqibuttons button:focus{
	color: #287ade;
	outline: none;
}

div.jqi .jqibuttons button[disabled]{
	color: #aaa;
}

.jqiwarning .jqi .jqibuttons{
	background-color: #b95656;
}

/* sub states */
div.jqi .jqiparentstate::after{
	background-color: #777;
	opacity: 0.6;
	filter: alpha(opacity=60);
	content: '';
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.jqi .jqisubstate{
	position: absolute;
	top:0;
	left: 20%;
	width: 60%;
	padding: 7px;
	border: solid 1px #eeeeee;
	border-top: none;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqisubstate .jqibuttons button{
	padding: 10px 18px;
}

/* arrows for tooltips/tours */
.jqi .jqiarrow{
 position: absolute; height: 0; width:0; line-height: 0; font-size: 0; border: solid 10px transparent;
}

.jqi .jqiarrowtl{
 left: 10px; top: -20px; border-bottom-color: #ffffff;
}

.jqi .jqiarrowtc{
 left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px;
}

.jqi .jqiarrowtr{
 right: 10px; top: -20px; border-bottom-color: #ffffff;
}

.jqi .jqiarrowbl{
 left: 10px; bottom: -20px; border-top-color: #ffffff;
}

.jqi .jqiarrowbc{
 left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px;
}

.jqi .jqiarrowbr{
 right: 10px; bottom: -20px; border-top-color: #ffffff;
}

.jqi .jqiarrowlt{
 left: -20px; top: 10px; border-right-color: #ffffff;
}

.jqi .jqiarrowlm{
 left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px;
}

.jqi .jqiarrowlb{
 left: -20px; bottom: 10px; border-right-color: #ffffff;
}

.jqi .jqiarrowrt{
 right: -20px; top: 10px; border-left-color: #ffffff;
}

.jqi .jqiarrowrm{
 right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px;
}

.jqi .jqiarrowrb{
 right: -20px; bottom: 10px; border-left-color: #ffffff;
}

/** Impromptu End */

		
		
		
		