.thread_status {
    display: inline-block;
}

.thread_status.dot_folder:before {
    font-family: FontAwesome;
    font-size: 8px;
    color: #0000FF;
    content: "\f111";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_folder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: blue;
    content: "\f003";
    position: relative;
    z-index: 0;
}

.thread_status.dot_hotfolder:before {
    font-family: FontAwesome;
    font-size: 8px;
    color: blue;
    content: "\f06d";
    position: absolute;
    z-index: 0;
}
/*
.thread_status.dot_hotfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: red;
    content: "\f0e0";
    position: relative;
    z-index: 0;
}
*/
.thread_status.dot_hotlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #970000;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.dot_hotlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_lockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #565656;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.dot_lockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_newfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #739e97;
    content: "\f003";
    position: relative;
    z-index: 0;
}

.thread_status.dot_newhotfolder:before {
    font-family: FontAwesome;
    font-size: 8px;
    color: red;
    content: "\f06d";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_newhotfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: red;
    content: "\f0e0";
    position: relative;
    z-index: 0;
}
/*
.thread_status.dot_newhotfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #ff0000;
    content: "\f0e0";
    position: relative;
    z-index: 0;
}
*/
.thread_status.dot_newhotlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #ff0000;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.dot_newhotlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_newlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #739e97;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.dot_newlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}

.thread_status.folder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #565656;
    content: "\f003";
    position: relative;
    z-index: 0;
}

.thread_status.hotfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: blue;
    content: "\f0e0";
    position: relative;
    z-index: 0;
}

.thread_status.hotlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #970000;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.hotlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}
.thread_status.lockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #565656;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.lockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}
.thread_status.movefolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #565656;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.movefolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #53dba6;
    content: "\f061";
    position: absolute;
    z-index: 1;
}
.thread_status.newfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: blue;
    content: "\f003";
    position: relative;
    z-index: 0;
}

.thread_status.newhotfolder:before {
    font-family: FontAwesome;
    font-size: 12px;
    color: red;
    content: "\f1eb";
    position: absolute;
    z-index: 1;
}

.thread_status.newhotfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: blue;
    content: "\f0e0";
    position: relative;
    z-index: 0;
}

.thread_status.newhotlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #ff0000;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.newhotlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}
.thread_status.newlockfolder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #739e97;
    content: "\f003";
    position: relative;
    z-index: 0;
}
.thread_status.newlockfolder:before {
    font-family: FontAwesome;
    font-size: 13px;
    color: #cea300;
    content: "\f023";
    position: absolute;
    z-index: 1;
}

/*
.thread_status {
	display: inline-block;
	
	//width: 16px;
	//height: 16px;
	//background-image: url(../../../images/folders_sprite.png);
	//background-repeat: no-repeat;
	
}

.thread_status.dot_folder {
	//background-position: 0 0;
}

.thread_status.dot_folder:before {
    font-family: FontAwesome;
    font-size: 8px;
    color: #739e97;
    content: "\f111";
    position: absolute;
    z-index: 1;
}

.thread_status.dot_folder:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: #565656;
    content: "\f003";
    position: relative;
    z-index: 0;
}

.thread_status.dot_hotfolder {
	background-position: 0 -20px;
}

.thread_status.dot_hotlockfolder {
	background-position: 0 -40px;
}

.thread_status.dot_lockfolder {
	background-position: 0 -60px;
}

.thread_status.dot_newfolder {
	background-position: 0 -80px;
}

.thread_status.dot_newhotfolder {
	background-position: 0 -100px;
}

.thread_status.dot_newhotlockfolder {
	background-position: 0 -120px;
}

.thread_status.dot_newlockfolder {
	background-position: 0 -140px;
}

.thread_status.folder
	background-position: 0 -160px;
}

.thread_status.hotfolder {
	background-position: 0 -180px;
}

.thread_status.hotlockfolder {
	background-position: 0 -200px;
}

.thread_status.lockfolder {
	background-position: 0 -220px;
}

.thread_status.movefolder {
	background-position: 0 -240px;
}

.thread_status.newfolder {
	background-position: 0 -260px;
}

.thread_status.newhotfolder {
	background-position: 0 -280px;
}

.thread_status.newhotlockfolder {
	background-position: 0 -300px;
}

.thread_status.newlockfolder {
	background-position: 0 -320px;
}
*/