/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  max-width: 960px;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
  text-align:  center;
  min-height: 130px;
  height: 350px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../../../images/MyFlatBoard3/bxslider/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  text-indent: -9999px;
  display: block;
  width: 40px;
  height: 8px;
  margin: 0 5px;
  outline: 0;
  clear: both;
  overflow:  auto;
}

.bx-wrapper .bx-pager.bx-default-pager a:before {
   content: "";
   background: #666;
   width: 100%;
   height: 2px;
   display:  block;
   margin: 3px 0;
}

.bx-wrapper .bx-pager.bx-default-pager a.active:before,
.bx-wrapper .bx-pager.bx-default-pager a:focus:before {
  background: #3280d5;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
 left: 10px;
}

.bx-wrapper .bx-prev:before,
.bx-wrapper .bx-next:before {
  position:  absolute;
  left:  0;
  right: 0;
  text-indent: 0;
  font-size: 45px;
  line-height: 45px;
}


.bx-wrapper .bx-prev:before {
  content: "\f104";
}

.bx-wrapper .bx-next {
  right: 10px;
}


.bx-wrapper .bx-next:before {
  content: "\f105";
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 16px;
  height: 45px;
  text-indent: -9999px;
  z-index: 5;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../../../images/MyFlatBoard3/bxslider/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../../../images/MyFlatBoard3/bxslider/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.bx-wrapper .table {
	display: table;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.bx-wrapper .table-center {
    vertical-align: middle;
    display: table-cell;
}

.bx-wrapper h1 {font-size:  25px;margin:  0;padding:  0;}

.bx-wrapper h1:after {
    content:  "";
    width: 10%;
    height: 2px;
    background: #3280d5;
    display:  block;
    margin: 6px auto;
    border-radius: 10px;
}

.bx-wrapper h2 {
    margin:  0;
    padding:  0;
    font-size: 15px;
}
		