.forum_icon {
	float: left;
	background: transparent;
	position:  relative;
	text-align: center;
	margin-right: 15px;
}

.forum_icon:before {
	content: "\f086";
	font-size: 14px;
	color: #3280d5;
}

.forum_icon.q_reply:before {
	content: "\f040";
}

		