/***** start: ScrollBar *****/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e9e9e9; 
}

::-webkit-scrollbar-thumb {
    background: #b4b4b4; 
}

::-webkit-scrollbar-thumb:hover {
    background: #3280d5; 
}

/***** start: Header *****/
header {
	width: 100%;
	position: fixed;
	transition: .5s;
	z-index: 99999;
	box-shadow: 0 0 10px transparent;
	top: 0;
	height: 100px;
}

header.fixed {
    background: #e9e9e9;
    box-shadow: 0 0 10px #000;
	height: 70px;
	transition: .5s;
}

header.fixed nav ul.menu__full,
header.fixed nav ol {
	height: 70px;
}

header.fixed nav ul.menu__full li a, 
header.fixed nav ol li .menu__mobile {
	line-height: 70px;
}

header a.logo img {
	height: 70px;
}


header #user__panel.full {
	padding: 0;
}

header .d_fx {
	display: flex;
}

header .l_s {
	max-width: 250px;
}

header .l_s a img {
	max-width: 100%;
}

header .r_s {
	width: 100%;
}

header .upper {
	position:  relative;
	display:  table;
}

header .upper .logo {
	display: table-cell;
	vertical-align: middle;
	width: 300px;
}

header .upper .logo a {
	clear: both;
    overflow: hidden;
    display: block;
    float: left;
}

#index_announcement {
    display: block;
    width: 100%;
    clear: both;
}
/** start: User Panel **/

header #upper__mobile {
	width: 100%;
	background: #222;
	clear:  both;
	height: 55px;
}

header #user__panel {
	list-style: none;
	color: #fff;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

header #user__panel.mobile {
    float: right;
    padding: 10px;
}

header #user__panel ul {
	margin: 0 0 0 55px;
	padding: 0;
	height: 34px;
	float: right;
}

header #user__panel li {
    line-height:  34px;
    position: relative;
    height:  34px;
    float:  left;
    display:  block;
    margin: 0 0 0 15px;
    color: #333;
}

header #user__panel li.register a {
    padding: 15px;
    background: #3280d5;
    color:  #fff;
    border-radius: 10px;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

header #user__panel li.register a:after,
header #user__panel .drop.login__panel .tborder .trow1 button:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background: #ffffff17;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: spin-out .5s;
	animation-fill-mode: forwards;
}

header #user__panel li.register a:hover:after,
header #user__panel .drop.login__panel .tborder .trow1 button:hover:after {
	animation: spin .5s;
	animation-fill-mode: forwards;
}

@keyframes spin {
    0%{}
    100%{width: 100%; height: 100%; border-radius: 10px; }
}

@keyframes spin-out {
	0%{width: 100%; height: 100%; border-radius: 10px; }
	100%{}	
}

header #user__panel li.pms {
    padding: 0 8px;
}

header #user__panel li .numbers {
    position: absolute;
    top: -1px;
    left: -4px;
    width: 15px;
    background: #e91f1f;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

header #user__panel li ul li {
    display:  block;
}

header #user__panel li.pms a {
	color: #fff;
	position: relative;
	height:  34px;
	width:  34px;
	line-height: 34px;
	display:  block;
}
header #user__panel li.mcp a:before,
header #user__panel li.acp a:before,
header #user__panel li.pms a:before {
    float:  left;
}

header #user__panel li.mcp a:before,
header #user__panel li.acp a:before {
	font-size: 19px;
}

header #user__panel li.mcp a:before {
    content: "\f085";
}

header #user__panel li.acp a:before {
    content: "\f21b";
}


header #user__panel li.pms a:before {
    content: "\f27a";
    font-size: 25px;
}

header #user__panel li.pms a:after {
    width:  1px;
    height: 34px;
    background:  #fff;
    display:  block;
    content:  "";
    float:  right;
    margin-right: -2px;
}

header #user__panel li.reg {
	margin: 70px 0;
	position: relative;
	padding: 2px 15px;
}

header #user__panel li.reg a {
	z-index: 3;
	position: relative;
}

header #user__panel li.reg:before {
    content:  "";
    background:  linear-gradient
						(to bottom, rgba(0,162,255,1) 0%, rgba(0,109,255,1) 100%);
    position:  absolute;
    left:  0;
    top: 0;
    right:  0;
    bottom:  0;
    z-index: 1;
    border-radius: 10px;
}

header #user__panel li.reg:after {
    content: "";
    background: #151921;
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 2;
    border-radius: 10px;
}

header #user__panel li.login {
	margin: 72px 5px;
	line-height: 34px;
}

header #user__panel li.user .avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-size: 100%;
	margin: 3px 0;
	overflow: hidden;
	float:  left;
}

header #user__panel li a {
	color: #333;
}
header #user__panel li a.dbutton {
    padding: 10px 5px;
    border-radius: 9px;
    line-height:  34px;
    font-weight: 700;
}

header #user__panel li a.dbutton:after {
    content: "\f107";
    padding-left: 2px;
}

header #user__panel .drop {
	display: none;
	position:  absolute;
	right:  0;
	z-index: 999;
	border-radius: 4px;
	overflow:  hidden;
	top: 45px;
}

header #user__panel .drop.login__panel .tborder { 
	padding: 10px;
}

header #user__panel .drop.login__panel .tborder .trow1 {
    padding:  0;
    text-align: center;
}


header #user__panel .drop.login__panel .tborder .trow1 input.textbox {
	margin: 0;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
	line-height:  normal;
}

header #user__panel .drop.login__panel .tborder .trow1 input.textbox {
	margin: 3px 0;
}


header #user__panel .drop.login__panel .tborder .trow1 button {
	width: 100%;
	height: 45px;
	background: #3280d5;
	color: #fff;
	border-radius: 3px;
	position:  relative;
}


header #user__panel .drop.login__panel .tborder .trow1 .quick__login__remember{
	padding-left: 20px;
}

header #user__panel .drop .trow1,
header #user__panel .drop .trow2 {
	padding: 10px;
}

header #user__panel .drop .list {
    margin:  0;
    padding:  0;
    min-width: 300px;
    background: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
    height:  unset;
    display:  block;
}

header #user__panel .drop .list li {
    line-height: 25px;
    padding: 0;
    margin:  0;
    float:  none;
}

header #user__panel .drop .list li.pixel__list {
    height:  1px;
}

header #user__panel .drop .list li.title__list {
    line-height: 34px;
    padding:  0 15px;
    text-transform:  uppercase;
    background: #000000d4;
    color:  #eee;
}

header .#user__panel .drop .list li.pixel__list {
    height:  1px;
    padding:  0;
    margin:  0;
}

header #user__panel .drop .list li.pixel__list hr {
    margin:  0;
    padding:  0;
    background: #aaa;
}

header #user__panel .drop .list li a {
    display:  block;
    padding: 5px 18px;
    color: #333;
}

header #user__panel .drop .list li a:hover {
    background: #3280d5;
    color: #f5f5f5;
}

/** end: User Panel **/

header  nav {
	float: left;
	position:  relative;
}

header nav ul.menu__full,
header nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
	height:  100px;
	transition: .5s;
}

header nav ul.menu__full li {
	display: inline-block;
	position:  relative;
	overflow:  hidden;
}

header nav ul.menu__full li a,
header nav ol li .menu__mobile {
	line-height: 100px;
	padding: 0 20px;
	display:  block;
	transition: .5s;
	font-weight:  600;
	position: relative;
	overflow: hidden;
	text-shadow: 0 0 2px #00000030;
}

header nav ul.menu__full li a:hover,
header nav ol li .menu__mobile:hover {
    color: #3280d5;
}

header nav ul.menu__full li:before,
header nav ul.menu__full li:after {
    content: "";
    top: 0;
    background:  #3280d5;
    height: 2px;
    display:  block;
    width: 0;
    transition:  .5s;
    position: absolute;
}

header nav ul.menu__full li:before {
    right: 50%;
}

header nav ul.menu__full li:after {
    left: 50%;
}

header nav ul.menu__full li:hover:before,
header nav ul.menu__full li:hover:after {
    width:  45%;
}


header nav ol li .menu__mobile {
 	width: 80px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

header nav ol li .menu__mobile:before {
    content: "\f0c9";
    font-size: 15px;
}

#top_announcement {
	margin-top: 100px;
}

/***** end: Header *****/

/***** start: Main *****/

article {
	width: 76%;
	float: left;
}

aside {
	width: 23%;
	float: right;
}

aside .thead:before {
    content: "\f129";
    float: right;
    border:  0;
    position: static;
}

aside .trow1,
aside .trow2 {
	padding: 10px
}

aside .tborder tbody tr td:first-child {
    border: 0;
}

.trow1.icon,
.trow2.icon {
	padding:  0;
	width: 60px;
}

.trow1.description,
.trow2.description {
	padding: 15px 15px 15px 0;
}

.trow1.posts,
.trow2.posts {
	padding: 0;
	width: 50px;
}

.trow1.lastpost,
.trow2.lastpost {
	width: 200px;
	white-space: nowrap;
}

.trow1 h1,
.trow2 h1,
.trow_shaded h1 {
	font-size: 17px;
	margin: 0;
	font-weight: 500;
}

.trow1 h2,
.trow2 h2,
.trow_shaded h2 {
    font-size: 12px;
    margin: 0;
    color: #888;
}

/* start: Tooltip */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* end: Tooltip */
/* start: Custom CheckBox */
.checkbox__custom {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #3280d5;
  transition: .3s;
}

@-moz-document url-prefix() {
.checkmark {
	top: -13px;
}
}

.checkbox__custom input:checked ~ .checkmark {
  background-color: #3280d5;
  border: 1px solid #3280d5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__custom input:checked ~ .checkmark:after {
  display: block;
}

.checkbox__custom .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#global__forum__stats {
	clear: both;
	padding: 1%;
}

#global__stats {
    list-style: none;
    display: flex;
    clear: both;
    margin:  0;
    padding:  0;
}

#global__stats li {
	display: inline-block;
	width: 25%;
}

#global__stats li .stats__icon {
    float: left;
    line-height: 45px;
    font-size: 26px;
    margin: 0 11px;
    color: #3280d5;
    text-shadow: 0 0 3px #3280d56b;
}

#global__stats li:last-child {
	width: 24.39%;
}

#global__stats li .stats__icon img {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	margin: 4px 0;
	box-shadow:  0 0 3px #0073a16b;
}

#global__stats li .stats__icon.posts:before {
	content: "\f086"
}

#global__stats li .stats__icon.threads:before {
	content: "\f07c"
}

#global__stats li .stats__icon.users:before {
	content: "\f0c0"
}

#global__stats li h2,
#global__stats li h3 {
	margin: 0;
	padding: 0;
}

#global__stats li h2 {
	font-size: 19px;
	font-weight: 500;
}

#global__forum__stats li h3 {
    font-size: 13px;
}

#global__forum__stats .row h1 {
	margin: 15px 0 0;
    font-size: 17px;
    font-weight: 700;
}

#global__forum__stats .row h2,
#global__forum__stats .row h2 a {
    font-size: 12px;
    margin: 0;
    color: #999;
}

#global__forum__stats .row h3 {
    margin: 0;
    font-size: 14px;
}

#global__forum__stats .row h3 span.ranks {
	margin: 0 15px 0 0;
}

#global__forum__stats .row h3 span.ranks:last-child {
	margin: 0;
}

.expander.fa.collapse:before {
    content: '\f062'; 
}

.expander.fa.collapse_collapsed:before {
    content: '\f063';
}

.description__sub {
	list-style: none;
	width: 100%;
	clear:  both;
	overflow:  hidden;
	margin: 10px 0 0;
	padding:  0;
}

.description__sub li {
	float: left;
	width: 50%;
}

.change__color {
	display: block;
	width: 22px;
	height: 22px;
	background: transparent;
	border-radius: 50%;
	overflow: hidden;
	position:  relative;
	transform: rotate(-50deg);
	transition: .7s;
	margin: 7px;
	box-shadow: 0 0 6px #000;
}

.change__color:hover {
	transform: rotate(-400deg);
}

.change__color:before {
    position:  absolute;
    top: 0px;
    left:  0;
    right:  0;
    height:  11px;
    background:  #fefefe;
    content:  "";
    transition: .7s;
}

.change__color:after {
    position:  absolute;
    bottom: 0px;
    left:  0;
    right:  0;
    height:  11px;
    background:  #111;
    content:  "";
    transition: .7s;
}

.change__color:hover:after {
	height: 100%;
}

.thread_title,
.thread_usersbrowsing {
	margin: 3px;
	background: #f1f1f1;
	border-radius: 10px;
	padding: 10px;
	overflow:  hidden;
}

.thread_title h1 {
	font-size: 17px;
    margin: 0 0 5px;
    padding: 0;
}

.thread_usersbrowsing h1 {
	font-size: 14px;
    margin: 0 0 5px;
    padding: 0;
}

.thread_title h2,
.thread_usersbrowsing h2 {
	font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.dnone {
	display: none;
}

/***** end: Main *****/

/***** start: Footer *****/
footer {
	width: 100%;
}

footer ul.upper {
	width: 100%;
	list-style:  none;
	display:  inline-flex;
	margin:  0;
	padding: 25px 0;
}

footer ul.upper li h1 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

footer ul.upper li h2 {
	font-size: 13px;
	font-weight: 500;
	margin: 0;
}

footer ul.upper li.about {
	width: 45%;
}

footer ul.upper li.links, footer ul.upper li.social {
    width: 27.5%;
    text-align:  center;
}

footer ul.upper li.links ul {
    list-style:  none;
    margin:  0;
    padding:  0;
}

footer .lower {
	height: 50px;
	width: 100%;
	color: #333;
}

footer .lower a {
    font-weight: 700;
}


footer .lower .engine,
footer .lower .author {
	font-size: 11px;
	text-align:center;
	opacity: .8;
}

/***** end: Footer *****/

/***** start: Memberlist *****/
#memberlist_row {
	width: 100%;
   	display: flex;
	flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 20px 0;
}

.memberlist_box {
	background: #fff;
	display:  inline-flex;
	width: 32%;
	margin: 1% 0;
	border-radius:  5px;
	position:  relative;
}

.memberlist_avatar img {
    width: 145px;
    height: 145px;
    border-radius: 5px 0 0 5px;
}

.memberlist_info {
    width:  100%;
    text-align:  center;
    padding: 23px 5px;
}

.memberlist_info h4 {
    padding:  0;
    margin: 0;
    font-size: 18px;
}

.memberlist_info h5 {
    margin:  0;
}

.memberlist_stats {
	display: flex;
	margin: 10px 10px;
}

.memberlist_stats_row {
    width: 33.33%;
}

.memberlist_stats_row:before {
    display:  block;
    font-size: 15px;
}

.memberlist_stats_row.posts:before {
    content: "\f086";
}

.memberlist_stats_row.threads:before {
    content: "\f07c";
}

.memberlist_stats_row.reputation:before {
    content: "\f067";
}


.memberlist_button {
	left: 122px;
	bottom: -22px;
	position:  absolute;
}

.circle_button {
	float: left;

}

.memberlist_button, .circle_button {
	background: #3280d5;
	display: block;
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 1;
	box-shadow: 1px 1px 5px #22222240;
	margin: 0 10px 0 0;
	transition: .5s;
}

.memberlist_button, .circle_button:hover {
	background-color: #1362b8;
	box-shadow: 1px 1px 5px #22222280;
}

.memberlist_button:before,
.circle_button:before {
    line-height: 45px;
    font-size: 17px;
}

.memberlist_button:before,
.circle_button.pm:before {
	content: "\f1d8";
}

.circle_button.add_buddy_button:before {
    content: "\f234";
}
.circle_button.remove_buddy_button:before {
    content: "\f235";
}
.circle_button.add_ignore_button:before {
    content: "\f05e";
}

.circle_button.report_user_button:before {
    content: "\f024";
}

.memberlist_button:hover,
.circle_button:hover {
	color: #fff;
}

/***** end: Memberlist *****/

/***** start: Userprofile *****/
#profile_box {
	background: #fff;
	display: block;
	width: 100%;
	border-radius: 5px;
	height:  150px;
	position: relative;
	clear:  both;
}


#profile_box .profile_avatar, #profile_box .profile_avatar img {
    float:  left;
    height:  150px;
    width: 150px;
    border-radius:  5px 0 0 5px;
}

#profile_box .profile_row {
    width: calc(100% - 160px);
    float: right;
    text-align:  center;
    padding: 23px 5px;
}

#profile_box .profile_row h4 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

#profile_box .profile_row h5 {
    margin:  0;
}

#profile_box .profile_info {
    display:  flex;
    margin: 10px;
}

#profile_box .profile_info_row {
    width: 16.66%;
    cursor: default;
}

#profile_box .profile_info_row:before {
	display: block;
	font-size: 15px;
}

#profile_box .profile_info_row.online_status:before {
    content: "\f06e";
}

#profile_box .profile_info_row.posts:before {
    content: "\f086";
}

#profile_box .profile_info_row.threads:before {
    content: "\f07c";
}

#profile_box .profile_info_row.rep:before {
    content: "\f067";
}

#profile_box .profile_info_row.regdate:before {
    content: "\f234";
}

#profile_box .profile_info_row.bday:before {
    content: "\f1fd";
}

#profile_box .profile_status:before {
	content: "\f111";
	font-size: 17px;
	color: #767676;
}

#profile_box .profile_status.online:before {
	color: #0fa70f;
}

.profile_buttons_row {
	position: absolute;
	height:  45px;
	clear:  both;
	left: 101px;
	bottom: -20px;
	text-align:  center;
	padding: 0 26px;
}

#profile_lower {
	margin: 30px 0 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#profile_lower .content {
    background: #fff;
    border-radius: 5px;
    padding: 1%;
}

#profile_lower .content .posts h4, 
#profile_lower .content .posts h5 {
    margin:  0;
}

#profile_lower .content .posts h4 { 
	padding: 5px 0 0;
}

#profile_lower .content .posts h5 {
	font-weight: 500;
	overflow: auto;
	clear: both;
	margin: 0 0 5px 0;
}

#profile_lower .content .posts h5 .date {
	float: left;
}

#profile_lower .content .posts h5 .replies {
	float: right;
}

#profile_lower .content .posts .text {
	margin: 0 0 10px 0;
	max-height: 250px;
	overflow: hidden;
}

#profile_lower .content h3 {
    margin: 0 0 15px 0;
}

#profile_lower .content.info {
	width: 28%;
}

#profile_lower .content.info h3 {
    text-align:  center;
}

#profile_lower .content.info .buddylist {
	display:  flex;
	flex-flow: row wrap;
	justify-content: center;
}

#profile_lower .content.info .buddylist a {
    margin: 0 5px 10px 5px;
    border-radius:  50%;
    overflow:  hidden;
}

#profile_lower .activity {
    width: 69%;
}

#profile_lower .activity .tab {
    display:  flex;
}

#profile_lower .activity button {
    margin: 0 0 1% 0;
    display: block;
    width: 100%;
}

#profile_lower .activity button:first-child {
    margin: 0 1% 1% 0;
}

#profile_lower .activity button.mod, #profile_lower .activity button.admin {
    margin: 0 0 1% 1%;
}

#profile_lower .activity .tabcontent {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#profile_lower .content.info .tborder {
	background: transparent;
}

/***** end: Userprofile *****/

/***** start: Responsive *****/

@media all and (min-width: 1500px) {
	.memberlist_box {
		width: 22.87%;
	}
}

@media all and (max-width: 1270px) {
header #upper__mobile {
		display: block;
	}

	header.fixed {
	    height: 125px;
	}
	
	header .lower nav ol li .menu__full  {
		display: none;	
	}
	
	header .lower nav ol li:hover .menu__full {
		display: block;
	}
	
	header .lower nav ol li .menu__mobile {
		display: block;
	}

	header .lower nav ol li .menu__full {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 200px;
		z-index: 999;
		background: #ededed;
		clear: both;
	}
	
	header .lower nav ol li .menu__full li {
	   width: 100%;
 	   text-align: center;
		display: block;
	}
	header .lower nav ol li .menu__full li a {
		line-height: 40px;
  		height: 40px;
	}
	header .upper .logo {
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	}

	header nav {
    	float: right;
    	position: unset;
 }

	header nav ul.menu__full {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 100px;
		background-color: #fff;
		opacity:  0;
		transition:  .5s;
	}

	header.fixed nav ul.menu__full {
		top: 70px;
	}

	header nav ul.menu__full li {
	    width: 100%;
	    text-align:  center;
	    background: #e9e9e9;
	}
	
	header nav ul.menu__full li a, header.fixed nav ul.menu__full li,header.fixed nav ul.menu__full li a {
	    line-height: 50px;
	}
		
	header nav li:hover ul.menu__full {
		display: block;
		opacity:  1;
	}
	
	header #user__panel.full {
		display: none;
	}
	
	
	header #user__panel li a {
		color: #ddd;
	}
	
	header #user__panel ul {
 	   margin:0;
	}
}

@media all and (min-width: 1270px) {
	header #upper__mobile {
		display: none;
	}
	
	header nav ol li .menu__mobile {
		display: none;
	}
}

@media all and (max-width: 1000px) {
	#global__stats li.w1dn {
		display: none;
	}
	
	#global__stats li {
		width: 30%;
	}
	
	#global__stats li:last-child {
	width: 40%;
	}
	article,
	aside {
	width: 100%;
	float: none;
	}	
	
	.w80dn, header #user__panel li ul li.w80dn {
		display: none;
	}
	
	.avatarep_fd {
 	   float: none;
	}
	
	.trow1.lastpost, .trow2.lastpost {
   		width: 65px;
   		text-align: center;
   		white-space: normal;
	}
	
	.flex {
    	display: grid;
	}
	
	.post .post_author {
    	width: 99%;
    	position:  relative;
	 }

	.postbit_buttons a span {
		display:  none;
	}

	.post .author_nick {
		position:  absolute;
		text-align:  left;
		left: 60px;
	}

	.post .author_nick h4 {
		margin: 5px 0 0 0;
	}

	.post .author_avatarstatus {
		float: left;
		width:  50px;
		height:  50px;
	}

	.post .post_author div.author_statistics {
		float:  right;
		text-align:  right;
		height: 30px;
		font-size: 12px;
		overflow:  hidden;
	}

	.post .post_author div.author_avatar img {
		width:  50px;
		height:  50px;
	}

	.post .post_content {
    	width: 98%;
	}
	
	.post_controls {
	    margin: 0;
	}
	
	.memberlist_box {
		width: 47.829%;
	}

	#profile_box .profile_info_row {
		width: 20%;
	}

	.profile_info_row.bday {
		display: none;
	}
	#profile_lower {
		flex-flow: column;
	}
	
	#profile_lower .content.info {
		width: 98%;
		margin-bottom: 1%;
	}
	
	#profile_lower .activity {
	    width: 100%;
	}
}

@media all and (max-width: 900px) {

	.profile_info_row.online_status .time {
		display: none;
	}
}

@media all and (max-width: 700px) {
	footer ul.upper {
		display: inline-grid;
	}
	footer ul.upper li.about,
	footer ul.upper li.links,
	footer ul.upper li.social {
		width: 100%;
	}
	.memberlist_box {
		width: 100%;
		margin: 0 0 1% 0;
	}
	#profile_box .profile_info_row {
		width: 25%;
	}

	.profile_info_row.regdate {
		display: none;
	}
	
	.w7dn {
		display: none;
	}
}

@media all and (max-width: 650px) {
	#global__forum__stats .row {
		text-align: center;
	}
	
	.bx-wrapper .bx-next,
	.bx-wrapper .bx-prev {
		display: none;
	}
}

@media all and (max-width: 500px) {
	#global__stats li {
		text-align: center;
	}
	
	#global__stats li .stats__icon {
		float: none;	
	}
	
	.w5dn {
		display: none;
	}
}

@media all and (max-width: 450px) {
	footer .lower {
		line-height: 25px;
		text-align: center;
	}
	footer .lower .engine,
	footer .lower .author {
		float: none;
	}
	
	#search {
		display: none;
	}

	.profile_info_row.rep {
		display: none;
	}
}

@media all and (max-width: 350px) { 
	.profile_avatar {
		display: none;
	}

	#profile_box .profile_row {
		width: 100%;
	}

	.profile_buttons_row {
		left: 0;
	}
}

/***** end: Responsive WebDesign *****/ 
		