#shoutbox {
	margin-bottom:10px
}

#shoutbox .head {
	color: #333;
	font-size:13px;
	position:relative;
	text-shadow:1px 1px 1px #00000047;
	border-bottom:2px solid #b4b4b4;
	padding:17px;
}

#shoutbox .head:after {
	content:"";
	width:30%;
	height:2px;
	background:#3280d5;
	position:absolute;
	bottom:-2px;
	left:0
}

#shoutbox .head .right {
	float:right;
	margin:0;
	font-size:13px
}

#shoutbox.collapsed .head {
	opacity:.6
}

#shoutbox.collapsed .body {
	display:none
}

#shoutbox input.text {
	margin:0;
	padding:10px 8px;
	width:100%;
	box-sizing:border-box;
	border:none;
	font-family:Arial,sans-serif;
	font-size:12px;
	color: #333;
	background: #e9e9e9;
}

#shoutbox button {
	display:none
}

#shoutbox .minposts,#shoutbox .blocked {
	padding:6px;
	font-size:11px
}

#shoutbox .panel.minposts {
	background:#FFFED8;
	color:#727250
}

#shoutbox .panel.blocked {
	background:#FCEFEF;
	color:#543A3A
}

#shoutbox .panel p {
	margin:0
}

#shoutbox .window {
	overflow-y:scroll
}

#shoutbox .data {
	display:table;
	width:100%;
	font-family:Arial,sans-serif;
	font-size:12px
}

#shoutbox.front .data {
	border-top:none
}

#shoutbox .entry {
	width:100%;
	transition:background-color .2s;
	position:  relative;
}

#shoutbox .entry:nth-child(even) {
	background-color:rgba(0,0,0,0.01)
}

#shoutbox .entry.new {
	background-color:rgba(255,255,100,0.1)
}

#shoutbox .entry:target {
	background-color:rgba(50,200,255,0.1)
}

#shoutbox .entry:last-child > div {
	border-bottom:none
}

#shoutbox .entry > div {
	padding:6px;
	display: table-cell;
}

#shoutbox .entry > div.avatar {
	position: absolute;
}

#shoutbox .entry  > div.text {
    padding: 6px 0 6px 48px;
}

#shoutbox .avatar img {
	margin:0 auto;
	vertical-align:middle;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border:solid 1px rgba(255,255,255,0.1);
	box-shadow:0 0 2px rgba(0,0,0,0.1);
	cursor:pointer;
}

#shoutbox .text h5,
#shoutbox .text h6 {
	margin: 0;
	padding: 0;
}

#shoutbox .text h5 {
	font-size: 13px;
}

#shoutbox .text h6 {
	font-size: 12px;
	font-weight: 500;
}

#shoutbox .text {
	width:100%;
	color:#555;
	word-break:break-all;
	word-wrap:break-word
}

#shoutbox .info {
	font-size:11px;
	color: #555;
	white-space:nowrap;
	text-align:right;
}

#shoutbox .entry.unread .info:before {
	display:inline-block;
	position:relative;
	top:-2px;
	margin-right:10px;
	height:4px;
	width:4px;
	content:'';
	background:rgba(255,100,0,0.8);
	border-radius:10px;
}

#shoutbox .info a {
	color:inherit;
}

#shoutbox .mod {
	padding:6px 8px;
	font-size:9px;
	font-weight:700;
	color:#AAA;
	text-decoration:none;
}

#shoutbox .mod:nth-of-type(2) {
	margin-right:5px;
	border-left:solid 1px rgba(0,0,0,0.1);
}

#shoutbox .ip {
	margin-right:10px;
	color:#CECECE;
}
		