ul#panel.menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul#panel.menu li a {
	background: #fff;
	border-radius: 5px;
	font-size: 17px;
	height: 60px;
	display:  block;
	line-height: 60px;
	width: 225px;
	text-align:  center;
	margin: 10px 0;
}


.tborder {
    background: #fff;
    padding: 15px;
}

.thead {
	border: 0;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    text-shadow: none;
}

.thead:after {
	display: none;
}

input.textbox {
	line-height: 39px;
    padding: 0 10px;
}

textarea {
	background: #f6f6f6;
    padding: 10px;
}

.pmspace {
	float: right;
	margin: -3px 5px;
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px;
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e;
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00;
}

.pmspace_unused {
	display: inline-block;
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block;
}

.new_pm {
	font-weight: bold;
}

@media all and (min-width: 750px) {
	.w750 {
		width: 50%;
	}
}

@media all and (max-width: 750px) {
	.w750 {
		float: left;
		width: 100%;
	}
}
		