body,
#shoutbox input.text,
::-webkit-scrollbar-track {
    background-color: #222;
    color: #aaa;
}

header.fixed,
header #user__panel .drop.login__panel .tborder,
div.sceditor-container iframe,
div.sceditor-container{
    background: #1a1a1a;
}

a,
.thead a,
.thead,
table,
footer .lower,
header #user__panel .drop .list li a,
a.button,
button, 
input.button,
select,
header #user__panel li a,
.navigation .active, 
.navigation,
header #user__panel li,
header #user__panel .drop.login__panel .tborder .trow1 input.textbox,
#shoutbox .head,
#shoutbox .text h6,
.tcat,
div.sceditor-container body,
div.sceditor-container body p,
input.textbox,
textarea,
.popup_menu .popup_item,
.pm_alert,
.pm_alert a {
    color: #aaa;
}

header .lower,
.tborder, footer,
#global__forum__stats,
blockquote,
.popup_menu,
.popup_menu .popup_item {
    background-color: #2222225e;
    border-color: #111;
}

.change__color:before,
header #user__panel .drop .list,
ul#panel.menu li a,
div.sceditor-container div.sceditor-group a.sceditor-button:hover,
div.sceditor-container div.sceditor-group a.sceditor-button.active,
div.error,
.modal .tborder,
.pm_alert {
    background-color: #171717;
}

.change__color:after {
	background-color: #f6f6f6;
}

.thread_title, 
.thread_usersbrowsing,
#quickreply_e textarea,
.post .post_content,
.post_controls,
a.button,
button, 
input.button,
select,
.memberlist_box,
#profile_box,
#profile_lower .content,
.sceditor-container div.sceditor-toolbar,
div.sceditor-container div.sceditor-group,
textarea,
input.textbox {
    background-color: #2a2929;
}

div.sceditor-container div.sceditor-group,
div.sceditor-container div.sceditor-group a.sceditor-button {
    border: 1px solid transparent;
}


header #user__panel .drop,
header #user__panel .drop.login__panel .tborder .trow1 input.textbox{
    border-color: #010101;
}

.forum__icon:before {
    border-color: transparent transparent #222222 #222222;
}

.forum__icon:after {
    border-color: transparent transparent #151515 #151515;
}
.thead:after,
#shoutbox .head:after {
    border-color: #222222 #222222 transparent transparent;
}

.post .post_content:before {
    border-color: transparent #2a2929 transparent transparent;  
}

.thead,
#shoutbox .head,
div.sceditor-container div.sceditor-toolbar,
div.sceditor-container {
    border-color: #444;
}

@media (max-width: 1270px) {
    header nav ul.menu__full,
    header nav ul.menu__full li {
        background-color: #1a1a1a; 
    }    
}
