.thread_status {
 display: inline-block;
 width: 16px;
 height: 16px;
 background-image: url(../../../images/folders_sprite.png);
 background-repeat: no-repeat;
}

.thread_status.dot_folder {
 background-position: 0 0;
}

.thread_status.dot_hotfolder {
 background-position: 0 -20px;
}

.thread_status.dot_hotlockfolder {
 background-position: 0 -40px;
}

.thread_status.dot_lockfolder {
 background-position: 0 -60px;
}

.thread_status.dot_newfolder {
 background-position: 0 -80px;
}

.thread_status.dot_newhotfolder {
 background-position: 0 -100px;
}

.thread_status.dot_newhotlockfolder {
 background-position: 0 -120px;
}

.thread_status.dot_newlockfolder {
 background-position: 0 -140px;
}

.thread_status.folder {
 background-position: 0 -160px;
}

.thread_status.hotfolder {
 background-position: 0 -180px;
}

.thread_status.hotlockfolder {
 background-position: 0 -200px;
}

.thread_status.lockfolder {
 background-position: 0 -220px;
}

.thread_status.movefolder {
 background-position: 0 -240px;
}

.thread_status.newfolder {
 background-position: 0 -260px;
}

.thread_status.newhotfolder {
 background-position: 0 -280px;
}

.thread_status.newhotlockfolder {
 background-position: 0 -300px;
}

.thread_status.newlockfolder {
 background-position: 0 -320px;
}
		
		
		
		
		
		