.tfoot {
	background: #36D7B7;
}

.active-color {
	background-color:#36D7B7;
}

.postbit_user_btn a:link, .postbit_user_btn a:visited, .postbit_user_btn a:active {
    background: #36D7B7;
    color: #fff;
}

.panel-primary>.panel-heading {
    background-color: #36D7B7;
    border-color: #36D7B7;
}

blockquote {
    border-left: 5px solid #36D7B7;
}

.thead {
	background: #36D7B7;
	padding:10px;
	color:#fff;
	font-weight: bold;
}

.thead a:link, .thead a:visited {
	color:#fff;
}

.popup_menu .popup_item:hover {
	background: #36D7B7;
}

a:link {
	color: #36D7B7;
	text-decoration: none;
}

a:visited {
	color: #36D7B7;
	text-decoration: none;
}

a:hover,
a:active {
	color: #36D7B7;
	text-decoration: none;
}

#logo {
	background: #36D7B7;
}

.forum_on {
color: #36D7B7;
}

#portal #nav-portal a,
#forums #nav-forums a,
#searchh #nav-search a,
#member #nav-member a,
#calendar #nav-calendar a,
#help #nav-help a {
    background-color: #36D7B7;
}

.pagination a:hover {
	background: #36D7B7;
	border-color: #36D7B7;
}

.navbar {
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
     background-color: #36D7B7;
	 color: #fff;
}

.pagination a:hover {
 background: #36D7B7;
 color: #fff;
 border-color: #36D7B7;
 text-decoration: none;
}

.popup_menu .popup_item:hover {
 background: #36D7B7;
 color: #fff;
}

select {
    color: #36D7B7;
}

.thead input.textbox,
.thead select {
 border: 1px solid #36D7B7;
}

.modcp_nav_item:before {
	color: #36D7B7;
}
		
		