 .buttons a, .buttons button {
    background-color:transparent;
    position:relative;
    border:none;
    height: 18px;
    margin:0px 5px 0 0;
    font-family:Verdana, Tahoma, "Courier New", sans-serif;
    font-size:10px;
    text-decoration:none;
    font-weight:bold;
    color:#254b82;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button {
    width:auto;
    overflow:visible;
    cursor:pointer;
    padding:4px 10px 3px 7px; /* IE6 */
}

.button, .button a{
background: #000;
color: #fff !important;
font-size:13px;
}

.small_button{font-size:11px}

.buttons button[type] {
    cursor:pointer;
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}

*:first-child+html button[type] {
    cursor:pointer;
    padding:4px 10px 3px 7px; /* IE7 */
}

button:hover, .buttons a:hover {
    background-color:#fff;
    color:#000;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a:active {
    background-color:#fff;
    color:#254b82;
    text-decoration:none;
}

.buttons a.positive_big, button.positive_big {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
background-color: rgb(70, 141, 22);
color: #FFF;
    text-decoration:none;
}

.buttons a.positive_big:hover, button.positive_big:hover {
    background-color: rgb(222, 255, 200);
    color:#529214;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.positive_big:active {
    color:#fff;
    text-decoration:none;
}

.buttons a.neutral_big, button.neutral_big {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
background-color: rgb(22, 141, 124);
color: #FFF;
    text-decoration:none;
}

.buttons a.neutral_big:hover, button.neutral_big:hover {
    background-color: rgb(39, 159, 142);
    color:#cacaca;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.neutral_big:active {
    color:#fff;
    text-decoration:none;
}

.buttons a.negative_big, button.negative_big {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
background-color: rgb(131, 56, 10);
color: #FFF;
    text-decoration:none;
}

.buttons a.negative_big:hover, button.negative_big:hover {
    background-color:rgb(255, 226, 190);
    color:#d12f19;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.negative_big:active {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}

.buttons a.positive, button.positive {
    background-color:#fff;
    color:#368d30;
    text-decoration:none;
}

.buttons a.positive:hover, button.positive:hover {
    background-color: rgb(222, 255, 200);
    color:#529214;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.positive:active {
    color:#fff;
    text-decoration:none;
}

.buttons a.negative, button.negative {
    background-color:#fff;
    color:#ad3838;
    text-decoration:none;
}

.buttons a.negative:hover, button.negative:hover {
    background-color:rgb(255, 226, 190);
    color:#d12f19;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.negative:active {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}

button.warning, .buttons a.warning {
    background-color:#fff;
    color:#b4ad20;
    text-decoration:none;
}

.buttons a.warning:hover, button.warning:hover {
    background-color:rgb(237, 255, 183);
    color:#c5cc0e;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.warning:active {
    background-color:#d6be37;
    color:#fff;
    text-decoration:none;
}

button.regular, .buttons a.regular {
    background-color:#fff;
    color:#477dba;
    text-decoration:none;
}

.buttons a.regular:hover, button.regular:hover {
    background-color:#dff4ff;
    color:#336699;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.regular:active {
    color:#fff;
    text-decoration:none;
}

button.login, .buttons a.login {
    background-color:rgb(0, 190, 255);
    color:#424242;
    text-decoration:none;
	padding: 10px;
	font-size: 11px;
	top: 10px;
}

.buttons a.login:hover, button.login:hover {
    background-color:rgb(11, 138, 246);
    color:#336699;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.login:active {
    color:rgb(0, 190, 255);
    text-decoration:none;
}

button.register, .buttons a.register {
    background-color:rgb(0, 213, 145);
    color:#424242;
    text-decoration:none;
padding: 10px;
	font-size: 11px;
	top: 10px;
}

.buttons a.register:hover, button.register:hover {
    background-color:rgb(52, 193, 45);
    color:#336699;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.register:active {
    color:rgb(0, 213, 145);
    text-decoration:none;
}

.buttons a.reputation, button.reputation {
    margin: 15px 0px 0px 0px;
    padding: 7px 7px 7px 5px;
    background-color: #49975e;
    color: #f6fff6;
    text-decoration: none;
    display: block;
    border-radius: 2px;
}

.buttons a.reputation:hover, button.reputation:hover {
    background-color: #50b96c;
    text-decoration:none;
    transition: all 0.5s ease;
}

.buttons a.reputation:active {
    text-decoration:none;
}

#portal #port, #foros #foro, #members #member, #ayuda #help, #calendar #cale, #search #busq {
        background: transparent; /* Old browsers */
        text-align: center;
}

#portal #port a:link, #portal #port a:visited,
#foros #foro a:link, #foros #foro a:visited,
#members #member a:link, #members #member a:visited,
#ayuda #help a:link, #ayuda #help a:visited,
#calendar #cale a:link, #calendar #cale a:visited,
#search #busq a:link, #search #busq a:visited{
        color: #349CB3;
        background-color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
	border-bottom: 2px solid #349CB3;
}

#portal #port a:hover,
#foros #foro a:hover,
#members #member a:hover,
#ayuda #help a:hover,
#calendar #cale a:hover, 
#search #busq a:hover{
        background-color: transparent;
	color: #349CB3;
        border-bottom: 2px solid #349CB3;
        text-decoration: none;
}
		
		