@font-face {
    font-family: "Catamaran-Regular";
    src: url(../../../../images/dntadvantage/fonts/Catamaran-Regular.ttf) format("truetype");
}

body {
	background: #f0f0f0;
    width: 100%;
	color: #000;
    margin: 0;
    padding: 0;
	font-family: 'Catamaran-Regular',Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

a:link {
	color: #026CB1;
	text-decoration: none;
}

a:visited , a:active {
	color: #026CB1;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

#container {
	background: #f7f7fa;
        width: 100%;
	color: #000000;
	border: 1px solid #ffffff;
	margin: auto auto;
	text-align: left;
}

#content {
	/* FIX: Make internet explorer wrap correctly */
        padding: 0 10px;
        width: auto !important;
}

#content_rounder {
    width: 90%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #fafafa;
    margin: auto auto;
    padding: 10px 20px;
}

.menu {
	background: #000000;
	opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 2;
height: 37px;
}

.menu ul {
	font-weight: bold;
	text-align: left;
	padding: 5px;
    position: relative;
    z-index: 50;
}

.menu ul a:link {
	color: #ffffff;
	text-decoration: none;
    padding: 8px 20px;
}

.menu ul a:visited, .menu ul a:active {
	color: #f0f0f0;
	text-decoration: none;
    padding: 5px 15px;
}

.menu ul a:hover {
    background-color: #f0f0f0;	
	color: #040404;
	text-decoration: none;
	border-bottom: 2px solid #f0f0f0;
    transition: all 0.5s ease;
}

.logo{
	background: #0f7789 url(../../../images/dntadvantage/maintitle_pattern.png) no-repeat 0 0;
        width: 100%;
        margin-top: 35px;
        position: relative;
        z-index: 1;
}

#panel {
	background: transparent;
	color: #ffffff;
	font-size: 11px;
	position: fixed;
	right: 0;
	width: auto;
	z-index: 3;
}

.dnt{
	color: #ffffff;
}

.dnt a:link {
	color: #f0f0f0;
        font-family: 'Catamaran-Regular',Verdana;
        font-size: 11px;
        font-weight: bold;
	text-decoration: none;
}

.dnt a:visited {
	color: #ffffff;
	text-decoration: none;
}

.dnt a:hover, a:active {
	color: #000000;
	text-decoration: underline;
        transition: all 0.5s ease;
}

#breadc {
        background: #ffffff; /* Old browsers */
        background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	height: 30px;
        padding: 5px;
	border-radius: 4px;
        position: relative;
        margin-top: 0;
        z-index: 1;
}

#breadc a {
       outline:none;
       text-decoration:none;
}

#breadc ul {
	color: #fff;
	list-style-type: none;
	margin-left: 0px;
	margin-top: 12px;
	height: 29px;
	clear: both;
	font-family: 'Catamaran-Regular',Verdana, Tahoma;
	font-size: 10px;
	font-weight: bold;
}

#breadc li {
	color: #006cb1;
	float: left;
	height: 28px;
	margin-left: 5px;
	margin-top: -11px;
}

#breadc li a {
	background: url(../../../images/dntadvantage/breadcrumblight.png) no-repeat 0px 0px;
	color: #454545;
	height: 28px;
	padding-left: 20px;
	margin-left: -18px;
	display: block;
	text-decoration: none;
}

#breadc li a:hover {
       background:url(../../../images/dntadvantage/breadcrumblight.png) no-repeat 0px -32px;
       position:relative;
       height:28px;
       left:-1px;
       color:#fff;
       display:block;
}

#breadc li.home {
	padding: 0;
	margin-left: 1px;
}

#breadc li.home a {
background:url(../../../images/dntadvantage/breadcrumblight.png) 0px -62px no-repeat;
margin-left:-40px;
padding-left:0px;
width:39px;
height:28px;
}

#breadc li.home a:hover {
background: url(../../../images/dntadvantage/breadcrumblight.png) -42px -62px no-repeat;
padding-left:0px;
width:39px;
height:28px;
display:block;
}

#breadc li span {
padding:5px 20px 5px 5px;
display:block;
}

#breadc li a span {
	background: url(../../../images/dntadvantage/breadcrumblight.png) no-repeat 100% 0;
	padding-right: 25px;
	padding-left: 10px;
	height: 20px;
	display: block;
}

#breadc li a:hover span {
background:url(../../../images/dntadvantage/breadcrumblight.png) no-repeat 100% -32px;
padding-right:25px;
padding-left:10px;
height:20px;
display:block;
}

#panel .remember_me input {
	vertical-align: middle;
	margin-top: -1px;
}

.tborder {
	display: table;
	background: none;
	width: 100%;
	margin: auto auto;
}

.thead {
	background: #0f7789 url(../../../images/dntadvantage/maintitle_pattern.png) no-repeat 0 0;
	color: #ffffff;
        padding: 10px 20px;
	overflow: hidden;
}

.thead_head {width:100%}

.thead a:link {
	color: #ffffff;
	text-decoration: none;
        font-family: 'Catamaran-Regular',Tahoma;
        font-size: 14px;
        font-weight: bold;
}

.thead a:visited, .thead a:active {
	color: #f0f0f0;
	text-decoration: none;
}

.thead a:hover {
	color: #000000;
	text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease;
}

.tcat_head{background: #242424 repeat-x 0 0;}

.tcat {
	background: #242424 repeat-x 0 0;
	color: #f0f0f0;
	font-size: 12px;
        padding: 10px 0;
	display: inline-block;
}

.tcat span{padding: 0 10px}

.tcat a:link {
	color: #ffffff;
}

.tcat a:visited, .tcat a:active {
	color: #f5f5f5;
}

.tcat a:hover {
	color: #cacaca;
        transition: all 0.5s ease;
}

.trow1, .trow2 {
        padding: 10px 0;
}

.trow1 a:hover{
        color: #000000;
        transition: all 0.5s ease;
}

.trow1, .trow2,.trow_shaded{display:inline-block;vertical-align: top}

.trowfs {padding: 10px}

.trow1_calendar, .trow2_calendar,.trow_sep_calendar{vertical-align: top;height: 100px;width: 13.5%;display: inline-block;background: #ffffff}

.tcat_calendar{text-align: center;width: 15px;height: 100px;margin-left: -8px;margin-top: -1px}

.trow2 a:hover{
        color: #000000;
        transition: all 0.5s ease;
}

.trow1_head,.trow2_head{background: #ffffff;border-bottom:1px solid #f0f0f0;padding: 2px 10px;}

.trow_shaded_head{
	background: #ffdde0;
}

.trow_selected div {
	background: #FFFBD9;
}

.trow_sep {
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.full_width{width:100% !important}

fieldset{color: #2482ae;padding: 15px;border: 1px dotted #2482ae}

fieldset.trow1,fieldset.trow2{padding: 10px;width: 94%}

.tfoot {
	background: #0f7789 url(../../../images/dntadvantage/maintitle_pattern.png) no-repeat 0 0;
	color: #ffffff;
padding: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.tfoot a:link {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #ffffff;
	text-decoration: underline;
}

.bottommenu {
	background: #efefef;
	color: #000000;
	border: 1px solid #ffffff;
	padding: 10px;
}

.navigation {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: none;
}

.navigation .active {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #ffffff;
	color: #000000;
border: 1px solid #e6e8ea;
padding: 7px;
}

textarea {
	background: #ffffff;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 2px;
	font-family: 'Catamaran-Regular',Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	font-size: 13px;
}

select {
	background: #ffffff;
	border: 1px solid #eee;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #eee;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #eee
}

.autocomplete {
	background: #fff;
	border: 1px solid #000;
	color: black;
}

.autocomplete_selected {
	background: #adcee7;
	color: #000;
}

.popup_menu {
	background: #f5f5f5;
	border: 1px solid #ffffff;
}

.popup_menu .popup_item {
	background: #fff;
	color: #000;
}

.popup_menu .popup_item:hover {
	background: #C7DBEE;
	color: #000;
}

.pollbar {
    width: 100%;
    border: 1px solid #3f3f3f;
    height: 10px;
	border-radius:2px;
}

.percent{
	background: #134679 top left repeat-x;
    height: 10px;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.invalid_field {
	border: 1px solid #f30;
	color: #f30;
}

.valid_field {
	border: 1px solid #0c0;
}

.validation_error {
	background: url(../../../images/invalid.png) no-repeat center left;
	color: #f30;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_success {
	background: url(../../../images/valid.png) no-repeat center left;
	color: #00b200;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_loading {
	background: url(../../../images/spinner.png) no-repeat center left;
	color: #555;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

/* Additional CSS (Master) */
img {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background-color: #FFFBD9;
	font-weight: bold;
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
}

.menu li {
	display: inline;
    padding-left: 0px;
    margin-left: -5px;	
}

.menu img {
	padding-right: 5px;
	vertical-align: top;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	color: #000000;
	height: 1px;
	border: 0px;
}

#copyright {
        background: #0f7789  url(../../../images/dntadvantage/maintitle_pattern.png) no-repeat 0 0;
	margin: 0;
	padding: 10px 0 0 0;
}

.copylinks {
        width: auto;
        margin: 5px 10px;
        background: #000000;
        color: #ffffff;
        opacity: 0.7;
        text-align: center;
        border-radius: 3px;
}

.copylinks a:link {
        font-size: 12px;
        font-weight: bold;
	color: #f0f0f0;
	text-decoration: none;
}

.copylinks a:visited, a:active {
	color: #ffffff;
	text-decoration: none;
}

.copylinks a:hover {
	color: #000000;
	text-decoration: none;
        transition: all 0.5s ease;
}

.language, .theme{
display: inline-block;
}

.language{
	margin: 10px;
}

.theme{
margin-left: 10px;
margin-right: 100px;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

#debug a{
	color: #ffffff;
}

blockquote {
	border-left: 2px solid #f30c0c;
	background: #c5e1df;
	opacity: 0.7;
	margin: 0;
	padding: 10px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
    background: #e4e0e0;
    border-left: 2px solid #0c0ca5;
    padding: 10px;
    opacity: 0.8;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

.codeblock code {
	border-left: 2px solid #f30c0c;
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: 'Catamaran-Regular', Monaco, Consolas, Courier, monospace;
	font-size: 13px;
	padding: 2px 10px;
}

.forum_cat1{width:55%;text-align:left}
.forum_cat1 span, .forum_cat4 span{padding:0 10px}
.forum_cat2,.forum_cat3{width:10%;text-align:center;white-space: nowrap;display:inline-block}
.forum_cat4{width:23%;text-align:right}

.forum_tab1{width:5%;text-align: center}
.forum_tab2{width:50%}
.forum_tab3,.forum_tab4{white-space: nowrap;width:10%;text-align:center}
.forum_tab5{white-space: nowrap;width:23%;text-align:right}
.forum_subforums{display:block}
.subforums_list{background:#fff;border-radius:3px;opacity:0.8;padding: 5px;display:none;position:absolute}
.forum_status {height: 30px;width: 30px;font-size: 30px;display: inline-block}
.forum_on { color: #0d967e; }
.forum_off, .forum_offclose { color: #333; }
.forum_offlink { color: #0094d1; }
.forum_off i { opacity: .7; }
.forum_offclose i:before { content: "\f023"; color: #ef7351; }
.forum_offlink i:before { content: "\f0c1"; color: #44ce9d; }
.subfcols {list-style: none; margin: 0; padding: 0;}
.subfcols li {width: 50%; float: left;}

.subforumicon {
	display: inline-block;
	font-size: 13px;
	height: 10px;
	width: 10px;
	margin: 0px 5px 0px 7px; 
}

.subforum_minion { color: #0d967e; }
.subforum_minioff, 
.subforum_miniclosed  { color: #333; }
.subforum_miniofflink { color: #0094d1; }
.subforum_minioff { opacity: .4; }

.subforum_minion:before { content: "\f086";font-family:FontAwesome }
.subforum_minioff:before { content: "\f086";font-family:FontAwesome }
.subforum_miniclosed i:before { content: "\f023"; }
.subforum_miniofflink i:before { content: "\f0c1"; }

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

.footer_separator {
    margin: 20px;
    padding: 0;
    height: 0px;
    font-size: 1px;
    list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	text-decoration: none;
	white-space: nowrap;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.autocomplete {
	text-align: left;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.new_pm{color: #e65627}
.old_pm{color: #c9cdf0}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
        position: fixed;
        top: 0px;
        right: 0px;
	text-align: center;
	padding: 20px 25px;
	font-size: 10px;  
        width: 260px;        
        border-radius: 5px;
        z-index: 20;
}

.red_alert {
background: #FFE5E6;
border-left: 3px solid #A5161A;
color: #8E0A0D;
text-align: center;
margin-bottom: 15px;
font-size: 11px;
min-height: 30px;
line-height: 30px;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: #000;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.png) no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current, .pagination a {
	font-weight: bold;	
	padding: 4px 10px;
	margin-bottom: 3px;
}

.pagination a {
border: 1px solid #2c929e;
background: #ffffff;
color:#2c929e !important;
}

.pagination .pagination_current {
	font-weight: bold;	
	background: #85ced6;
	border: 1px solid #ffffff;
	font-weight: bold;
	color: #000;
	border-radius: 3px;
}

.pagination a:hover {
	background: rgb(39, 159, 142);
	text-decoration: none;
}

.postbit_fields_left{text-align:left}
.postbit_fields_right{float:right}

.postbit_buttons a.postbit_multiquote_on div {
	color: #cacaca;
	opacity: 0.5;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.quarter1{width:78%;display:inline-block;vertical-align: top}
.quarter2{width: 20%;vertical-align: top;display: inline-block}
.quarter4{width: 24%; display:inline-block;text-align:center;vertical-align:middle}
.quarter_separator{vertical-align:top;width:1%;display:inline-block}
.half{width:49%;vertical-align:top;display:inline-block}
.half_fix{width:47%;vertical-align:top;display:inline-block}
.middle1{width:58%}
.middle2{width:40%;vertical-align:top}

.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}

.post.classic.unapproved_post .post_author {
	border-color: #ffb8be;
}

.post.unapproved_post .post_controls {
	border-top: 1px dotted #ccc;
}

.success_message, .success {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message, .error {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.ignored_post {
    background: #eaeaea;
    border-top: 3px solid #e9e6e6;
    padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}

.post {
	overflow: hidden;
background: #ffffff;
}

.post.classic {
	padding-top: 15px;
background: #ffffff;
}

.post .post_author {
	background: #f0f0f0;	
	border-bottom: 1px solid #ccc;
	padding: 5px;
	overflow: hidden;
}

.post.classic .post_author {
	border: 1px dotted #ddd;
	float: left;
	width: 15%;
	margin: 0 1% 15px 0;
	padding: 5px 1%;
}

.post .post_author .buddy_status {
	vertical-align: middle;
	margin-top: -4px;
}

.post .post_author div.author_avatar {
	float: left;
	margin-right: 3px;
}

.panel_avatar{
	width:22px;
	height:22px;
	border-radius: 50%;
	margin-top: 4px;
}

.panel_user{
	font-weight: bold;
	padding: 0 5px;
}

#panel_user{
	cursor:pointer;
}

.panel_user_list{
	background: #0f0e0e;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 4px 0px 0px -78px;
position: absolute;
min-width: 280px;
}

.panel_user_list li{
	list-style:none;
	text-decoration: none;
	padding: 5px;
}

.panel_user_list li a{
	color:#f0f0f0;
}

.panel_user_list li a:hover,.panel_user_list li a:active{
	color: #85ced6;
	border-left: 2px solid #85ced6;
	text-decoration: none;
}

.pms_unread {
	background: #a70808;
	padding: 0px 7px 0px 5px;
	top: 0px;
	position: relative;
	left: 5px;
	border-radius: 2px;
	font-weight: bold;
}

.pm0{display:none}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
}

.post .post_author div.author_avatar img {
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
}

.post .post_author div.author_information {
	float: left;
	padding: 6px 8px;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	float: right;
	font-size: 11px;
	padding: 3px 10px 3px 5px;
	color: #666;
	line-height: 1.3;
}

.post.classic .post_author div.author_statistics {
	border-top: 1px dotted #ccc;
	margin: 6px 0 0 0;
	padding: 6px 6px 3px 6px;
	float: none;
}

.post .post_head {
	font-size: 11px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 4px;
}

.post .post_head span.post_date {
	color: #666;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #666;
}

.post_body {
	font-size: 14px;
	padding: 12px 0;
}

.post_body img{
	max-width: 90%;
}

.post.classic .post_content {
	float: left;
	width: 79%;
	padding: 0 1% 5px 1%;
}

.post_content {
	padding: 9px 10px 5px 10px;
}

.post_content .signature {
	margin-top: 5px;
	border-top: 1px dotted #ddd;
	padding: 10px 0 4px 0;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999;
}

.post .post_meta a:link,
.post .post_meta a:visited {
	color: #777;
}

.post .post_meta a:hover,
.post .post_meta a:active {
	color: #777;
}

.post_controls {
	clear: both;
	background: none;
	border-top: 1px dotted #ccc;
	padding: 5px;
	overflow: hidden;
}	

.trow_shaded_head {
	background: #ffdde0;
}
.trow_shaded {
	background: #ffdde0;
width: 100%;
}

.trow_deleted_head {
	background: #E8DEFF;
}

.trow_deleted,
.post.deleted_post {
	background: #E8DEFF;
text-decoration: line-through;
}

.deleted_post_hidden {
    border-top: 2px solid #ccc;
    padding: 15px;
}

.deleted_post_collapsed {
    border-top: 3px solid #333;
    padding: 15px;
}

.deleted_post_collapsed .show_deleted_post {
    margin-top: -15px;
}

.deleted_post_collapsed .show_deleted_post a.button span {
    background-position: 0 -400px;
	background-color: #111010;padding: 10px;
	color: #f0f0f0;
	font-weight: bold;
}

.trow_selected, tr.trow_selected div {border-bottom: 1px dotted #f3f580;background:#FFFBD9;}

.trow_selected a:link,
.trow_selected a:visited,
.trow_selected a:hover,
.trow_selected a:active {
	color: #333;
}

.trow_sep {
	background: #ddd;
	color: #333;
	border-bottom: 1px solid #c5c5c5;
	padding: 10px 0;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}

.quick_jump {
	background: url(../../../images/jump.png) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	vertical-align: middle;
	border: none;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

.pagination_breadcrumb {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
	white-space: nowrap;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

.announcement::before{
content: "\f130";
font-family: FontAwesome;
padding: 2px 15px;
font-weight: bold;
font-size: 15px;
}

.announcement{
	background: #85ced6;
        border: 3px solid #ffffff;
        padding: 10px;
        margin: 12px 0 0 0;
text-align:center;
color:#fff;
}

/** jGrowl Start **/

/** Special IE6 Style Positioning **/
.ie6 {
    position: absolute;
}

.ie6.top-right {
    right: auto;
    bottom: auto;
    left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.top-left {
    left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-right {
    left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-left {
    left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.center {
    left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
    width: 100%;
}

/** jGrowl Styling **/
.jGrowl {
    z-index: 9999;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Catamaran-Regular', Helvetica, Arial, sans-serif;
    position: fixed;
}
.jGrowl.top-left {
    left: 0px;
    top: 0px;
}
.jGrowl.top-right {
    right: 0px;
    top: 0px;
}
.jGrowl.bottom-left {
    left: 0px;
    bottom: 0px;
}
.jGrowl.bottom-right {
    right: 0px;
    bottom: 0px;
}
.jGrowl.center {
    top: 0px;
    width: 50%;
    left: 25%;
}

/** Cross Browser Styling **/

.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
    margin-left: auto;
    margin-right: auto;
}
.jGrowl-notification {
    background-color: transparent;
    opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    zoom: 1;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    word-break: break-all;
}
.jGrowl .jGrowl-notification {
    min-height: 40px;
}
.jGrowl-notification .ui-state-highlight,
.jGrowl-notification .ui-widget-content .ui-state-highlight,
.jGrowl-notification .ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}
.jGrowl-notification .jGrowl-header {
    font-weight: bold;
    font-size: .85em;
}
.jGrowl-notification .jGrowl-close {
    background-color: transparent;
    color: inherit;
    border: none;
    z-index: 99;
    float: right;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.jGrowl-closer {
    background-color: #000000;
    opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    zoom: 1;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: none;
    border-radius: 5px;
    word-break: break-all;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}
.jGrowl-closer .ui-state-highlight,
.jGrowl-closer .ui-widget-content .ui-state-highlight,
.jGrowl-closer .ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.jGrowl .jGrowl-notification.jgrowl_success {
   background: lightgreen;
   border: 1px solid lightgreen;
   color: #333;
}

.jGrowl .jGrowl-notification.jgrowl_error {
   background: red;
   border: 1px solid red;
   color: #333;
}

.jGrowl .jGrowl-notification.jgrowl_process, .jGrowl .jGrowl-closer {
   background: yellow;
   border: 1px solid yellow;
    color: #333;
}

/** Hide jGrowl when printing **/
@media print {
    .jGrowl {
        display: none;
    }
}

/** jGrowl End **/

/** Modal Start **/

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
    text-align: center;
}

.blocker:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}

.blocker.behind {
    background-color: transparent;
}

.modal {
	background: #9ebfd7;
	text-align: left;
	display: inline-block;
	position: relative;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 4px;
	width: 380px;
	box-shadow: 1px 1px 3px #55b5cf;
	padding: 5px;
}

.modal_half{width:49%}
.memug0{display:none !important}
.tabs{background: #242424;margin: 0px 0px 10px 0px;padding: 0px;list-style: none}
.tabs li{padding: 10px 7px;cursor: pointer}
.tabs li:hover{background: rgb(15, 119, 137) none repeat scroll 0% 0%}
.tabs li a{color:#f0f0f0}
.tabs li a.active{font-weigth:bold}
.tabs li.active{color:#fff}
.tab_content{display: none}
.tab_content.current{display: inherit}
.menu_tabs_view,.memug1{display:inline-block}
.scaleimages img{max-width:650px;max-height:650px}

@media only screen and (max-width: 640px) and (min-width: 220px){
.modal {top: 20%;left: 10px;right:10px;display: inline-table;position: absolute;width:90%}
.modal_half input{width: 130px !important}
.wrapper {width:98%;min-width: 220px;max-width: 500px;margin: auto auto}
.ocultaresponsive, .menu li a span,.quarter_separator,.pagination_page,.author_statistics, .buttons span{display:none !important}
#content {padding: 0 2px !important;overflow:hidden;word-wrap:break-word;word-break:break-word}
.forum_cat2,.forum_cat3, .forum_cat4{display:none !important}
.forum_tab3,.forum_tab4{display:none !important}
.forum_tab1{width: 15%}
.forum_tab2{width: 83%}
.forum_tab5{width:100%;display:block !important}
.forum_subforums{display:inline-block !important}
.subforumicon {font-size: 10px;height: 8px;width: 8px;margin: 0px 4px 0px 4px}
.menu ul a:link {padding: 9px 10px}
.logo a img{max-width: 80%;max-height: 80%}
.pm_alert, .red_alert {margin-top:-10px}
.copylinks {margin: 2px 10px;font-size:11px}
.half, .quarter2,.quarter1{width:98% !important;display:block !important}
.forum_lastpost{background: #f0f0f0;padding: 10px;display: inline-table;width:100%;text-align: center}
.half_fix{width:96% !important}
iframe,.mycode_img,.codeblock,.scaleimages img{max-width: 80%;max-height: 80%;word-wrap: break-word;word-break: break-all;overflow:hidden}
.post.classic .post_author {display:block !important; width: 98% !important; margin: 0 2px; padding: 2px}
.post.classic .post_content {width: 98%;padding: 0 2px}
.copylinks {margin: 2px 5px !important}
#content_rounder {padding: 2px 10px !important}
.menu_tabs_view,.memug1{display: inherit !important}
#post_container{max-width:80%}
img.attachment {max-width: 80%;max-height: 80%}
}

.modal a.close-modal {
    position: absolute;
    top: -4.5px;
    right: -4.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../../../images/close.png) no-repeat 0 0;
}

.modal-spinner {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -32px;
    margin-top: -32px;
    background: url(../../../images/spinner_big.png) no-repeat center center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/** Modal End **/

/** Impromptu Start **/

/*! jQuery-Impromptu - v6.2.3 - 2016-04-23
* http://trentrichardson.com/Impromptu
* Copyright (c) 2016 Trent Richardson; Licensed MIT */

.jqifade{
    position: absolute;
    background-color: #777777;
}
iframe.jqifade{
    display:block;
    z-index:-1;
}
div.jqi{
    width: 400px;
    max-width:90%;
    font-family: 'Catamaran-Regular', Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 7px;
}
div.jqi .jqicontainer{
}
div.jqi .jqiclose{
    position: absolute;
    top: 4px; right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqistate{
    background-color: #fff;
}
div.jqi .jqititle{
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: solid 1px #eeeeee;
}
div.jqi .jqimessage{
    padding: 10px;
    line-height: 20px;
    color: #444444;
    overflow: auto;
}
div.jqi .jqibuttonshide{
    display: none;
}
div.jqi .jqibuttons{
    text-align: right;
    margin: 0 -7px -7px -7px;
    border-top: solid 1px #e4e4e4;
    background-color: #f4f4f4;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
div.jqi .jqibuttons button{
    margin: 0;
    padding: 15px 20px;
    background-color: transparent;
    font-weight: normal;
    border: none;
    border-left: solid 1px #e4e4e4;
    color: #777;
    font-weight: bold;
    font-size: 12px;
}
div.jqi .jqibuttons button.jqidefaultbutton{
    color: #489afe;
}
div.jqi .jqibuttons button:hover,
div.jqi .jqibuttons button:focus{
    color: #287ade;
    outline: none;
}
div.jqi .jqibuttons button[disabled]{
    color: #aaa;
}
.jqiwarning .jqi .jqibuttons{
    background-color: #b95656;
}

/* sub states */
div.jqi .jqiparentstate::after{
    background-color: #777;
    opacity: 0.6;
    filter: alpha(opacity=60);
    content: '';
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
div.jqi .jqisubstate{
    position: absolute;
    top:0;
    left: 20%;
    width: 60%;
    padding: 7px;
    border: solid 1px #eeeeee;
    border-top: none;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
div.jqi .jqisubstate .jqibuttons button{
    padding: 10px 18px;
}

/* arrows for tooltips/tours */
.jqi .jqiarrow{ position: absolute; height: 0; width:0; line-height: 0; font-size: 0; border: solid 10px transparent;}

.jqi .jqiarrowtl{ left: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowtc{ left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowtr{ right: 10px; top: -20px; border-bottom-color: #ffffff; }

.jqi .jqiarrowbl{ left: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowbc{ left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowbr{ right: 10px; bottom: -20px; border-top-color: #ffffff; }

.jqi .jqiarrowlt{ left: -20px; top: 10px; border-right-color: #ffffff; }
.jqi .jqiarrowlm{ left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowlb{ left: -20px; bottom: 10px; border-right-color: #ffffff; }

.jqi .jqiarrowrt{ right: -20px; top: 10px; border-left-color: #ffffff; }
.jqi .jqiarrowrm{ right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowrb{ right: -20px; bottom: 10px; border-left-color: #ffffff; }

/** Impromptu End */
		
		