ul.thread_tools,
ul.thread_tools li {
	color: #60B9FB;
	padding-left: 5px;
	padding-bottom: 3px;
	margin-bottom: 3px;
	list-style: none;
}

ul.thread_tools li {
	padding-left: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	font-size: 13px;
	font-family: Tahoma;
	text-decoration:none;
}

ul.thread_tools li.printable:before {
margin-right:5px;font-family: 'FontAwesome';content:"\f02f";
}
ul.thread_tools li.sendthread:before {
margin-right:5px;font-family: 'FontAwesome';content:"\f0e0";
}
ul.thread_tools li.subscription_add:before {
margin-right:5px;font-family: 'FontAwesome';content:"\f1ea";
}
ul.thread_tools li.subscription_remove:before {
margin-right:5px;font-family: 'FontAwesome';content:"\f1ea";
}
ul.thread_tools li.poll:before {
margin-right:5px;font-family: 'FontAwesome';content:"\f080";
}

.showthread_spinner {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 20px;
}
		
		